<a href="/articles/<%= adArt[1]._id %>">
    <div class="card text-dark shadow p-4 text-center">
        <h5 class="text-decoration-underline"><%= adArt[1].name %> </h5>
        <p class="small justify lh-lg p-0 m-0" id=<%= adArt[1]._id %>> </p>
    </div>
</a>
                
<script>
    route = `/articles/<%= adArt[1]._id %>/story?q=300`;
    xhttp = new XMLHttpRequest();
    xhttp.onload = function() {
        document.getElementById('<%= adArt[1]._id %>').innerHTML = this.responseText;
    }
    xhttp.open("GET", route, true);
    xhttp.send();
</script>