<% layout('layouts/boilerplate')%>

<div id="menu" class="col-md-3 menu d-md-block scroll">
    <a class="h5 active" href="/books">Feature</a>
    <a class="h5" href="/books/list">List</a>
    <ol>
        <li><a href="/books/list">Index</a></li>
        <li><a href="/books/categories">Category</a></li>
    </ol>
    <a href="">Actions</a>
    <ol>
        <li><a id="suggest" href="#!">Request Book</a></li>
        <li><a href="/books/new">Save a Book</a></li>
    </ol>
</div>

<div class="d-md-none mb-2" id="menuToggler">
    <button class="d-none" id="fastDownButton">⏬</button>
    <button id="fastUpButton">⏫</button>
</div>
<script src="/javascripts/toggleMenu.js"></script>

<div class="col-md-9 offset-md-3 col-lg-6 overflow-auto">
    <table class="">
        <% for (i = 0; i < 10; i++) { %> 
            <tr>
                <% for (j = 0; j < 2; j++) { %> 
                    <td class="text-center p-2">
                        <% const index = i + j * 3 %> 
                        <% if (books[index]) { %> 
                        <a href="/books/<%=books[index]._id%>">
                            <img height="150px" class='mx-3 my-2' src=<%= 'https://godinprintsdocuments.s3.amazonaws.com/' + books[index].image.key.replaceAll(" ", "+") %> alt="<%= books[index].title %> "> 
                        </a>
                        <!-- <p><small class="text-muted text-capitalize"> books[index].author.toLowerCase()</small></p> -->
                        <a class="text-decoration-none text-capitalize d-block text-truncate" href="/books/<%=books[index]._id%>"><strong><%= books[index].title.toLowerCase() %> <%= books[index].author.toLowerCase() %> </strong></a>
                        <% } %> 
                    </td>
                <% } %> 
            </tr>
        <% } %> 
    </table>
</div>

<div class="d-none d-lg-block col-3 offset-9 pt-3 position-fixed mh-100 scroll ps-5">
    <p class="text-muted small text-center"><strong>Piece for the day</strong></p>
    <%- include('../partials/ad/art') %>  
</div>

<div class="" style="margin-bottom: 100px;"></div>

<div class="d-lg-none col-md-9 offset-md-3 py-5 d-flex justify-content-center">    
    <div class="footer-item">
        <p class="text-muted small pt-2 text-center"><strong>Piece for the day</strong></p>
        <%- include('../partials/ad/art2') %>    
    </div>
</div>

<div class="col-lg-6 col-md-9 offset-md-3 py-5 d-flex justify-content-center">
    <div class="footer-item p-4">
        <p class="text-muted small pt-2 text-center"><strong>There was a <%= adBio[1].gender === 'male' ? 'Man' : 'Woman' %> </strong></p>
        <%- include('../partials/ad/bio2') %>
    </div>
</div>

<%- include('../partials/ad2') %>

<script>
    const pageTitle = "Books";
</script>