<% layout('layouts/boilerplate')%>

<div id="menu" class="col-md-3 menu d-md-block scroll">
    <a class="h5 active" href="/books">Feature</a>
    <a class="h5" href="/books/list">List</a>
    <ol>
        <li><a href="/books/list">Index</a></li>
        <li><a href="/books/categories">Category</a></li>
    </ol>
    <a href="">Actions</a>
    <ol>
        <li><a id="suggest" href="#!">Request Book</a></li>
        <li><a href="/books/new">Save a Book</a></li>
    </ol>
</div>

<div class="d-md-none mb-2" id="menuToggler">
    <button class="d-none btn btn-outline btn-info" id="fastDownButton"><i class="bi bi-chevron-double-down"></i></button>
    <button class=" btn btn-outline btn-info" id="fastUpButton"><i class="bi bi-chevron-double-up"></i></button>
</div>
<script src="/javascripts/toggleMenu.js"></script>

<style>

    .anime strong {
        width: max-content;
        min-width: 50%;
    }

    .anime {
        display: none;
        width: max-content;
        min-width: 200%;
    }

    td:hover .anime {
        display: flex;
        width: max-content;
        min-width: 200%;
        animation: across 5s linear 1s infinite;
    }

    td:hover a.text-truncate {
        display: none !important;
    }

    @keyframes across {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-50%);
        }
    }
</style>

<h1 class="p-3 text-center col-md-9 offset-md-3 col-lg-6">Feature Books</h1>
<div class="col-md-9 offset-md-3 col-lg-6 overflow-auto">
    <table class="">
        <% for (i = 0; i < 10; i++) { %> 
            <tr>
                <% for (j = 0; j < 2; j++) { %> 
                    <td class="text-center p-2 overflow-hidden">
                        <% const index = i + j * 3 %> 
                        <% if (books[index]) { %> 
                        <a href="/books/2/<%= books[index].uid %>">
                            <img height="150px" class='mx-3 my-2' src=<%= 'https://godinprintsdocuments.s3.amazonaws.com/' + books[index].image.key.replaceAll(" ", "+") %> alt="<%= books[index].title %> "> 
                        </a>
                        <!-- <p><small class="text-muted text-capitalize"> books[index].author.toLowerCase()</small></p> -->
                        <a class="text-capitalize text-truncate d-block" href="/books/2/<%= books[index].uid %>">
                            <strong class="px-3 text-center"><%= books[index].title.toLowerCase() %> <%= books[index].author === ' '? '': ' - ' + books[index].author.toLowerCase() %> </strong>
                        </a>
                        <a class="text-capitalize anime" href="/books/2/<%= books[index].uid %>">
                            <strong class="px-3 text-center"><%= books[index].title.toLowerCase() %> <%= books[index].author === ' '? '': ' - ' + books[index].author.toLowerCase() %> </strong>
                            <strong class="px-3 text-center"><%= books[index].title.toLowerCase() %> <%= books[index].author === ' '? '': ' - ' + books[index].author.toLowerCase() %> </strong>
                        </a>
                        <% } %> 
                    </td>
                <% } %> 
            </tr>
        <% } %> 
    </table>
</div>
<p class="p-3 text-end col-md-9 offset-md-3 col-lg-6"><a style="border-bottom: 1px dotted;" class="me-3" href="/books?refresh=1">refresh features</a></p>

<div class="d-none d-lg-block col-3 offset-9 pt-3 position-fixed mh-100 scroll ps-5">
    <p class="text-muted small text-center"><strong>Piece for the day</strong></p>
    <%- include('../partials/ad/art') %>  
</div>

<div class="" style="margin-bottom: 50px;"></div>

<div class="d-lg-none col-md-9 offset-md-3 py-5 d-flex justify-content-center">    
    <div class="footer-item">
        <p class="text-muted small pt-2 text-center"><strong>Piece for the day</strong></p>
        <%- include('../partials/ad/art2') %>    
    </div>
</div>

<div class="col-lg-6 col-md-9 offset-md-3 py-5 d-flex justify-content-center">
    <div class="footer-item p-4">
        <p class="text-muted small pt-2 text-center"><strong id="gender"></strong></p>
        <%- include('../partials/ad/bio2') %>
    </div>
</div>

<%- include('../partials/ad2') %>

<script>
    const pageTitle = "Books";
</script>