<% layout('layouts/boilerplate')%>

    <div class="col-md-3 menu d-none d-md-block scroll">
        <a class="h5" href="/books">Feature</a>
        <a class="h5" href="/books/list">List</a>
        <ol>
            <li><a href="/books/list">A - Z</a></li>
            <li><a href="/books/categories">Category</a></li>
        </ol>
        <a href="/books/new">Add Book</a>
    </div>
    
    <div class="col-md-9 offset-md-3 overflow-auto">
        <table class="">
            <% for (i = 0; i < 4; i++) { %> 
                <tr>
                    <% for (j = 0; j < 3; j++) { %> 
                        <td class="text-center p-2">
                            <% const index = j + i *3 %> 
                            <% if (books[index]) { %> 
                            <a href="/books/<%=books[index]._id%>">
                            <img class='mx-5 my-2' src= <%= 'https://godinprintsdocuments.s3.amazonaws.com/' + books[index].image.key.replaceAll(" ", "+") %> alt=""> 
                            </a>
                            <p><small class="text-muted text-capitalize"><%= books[index].author.toLowerCase() %> </small></p>
                            <a class="text-decoration-none text-capitalize d-block text-truncate" href="/books/<%=books[index]._id%>"><strong><%= books[index].title.toLowerCase() %> </strong></a>
                            <% } %> 
                        </td>
                    <% } %> 
                </tr>
            <% } %> 
        </table>
    </div>

    <script>
        const pageTitle = "Books";
    </script>