<% layout('layouts/boilerplate')%>

<!-- <div id="cluster-map"></div> -->
<div id="menu" class="col-md-3 menu d-none d-md-block scroll">
    <a class="h5" href="/books">Feature</a>
    <a class="h5" href="/books/list">List</a>
    <ol>
        <li><a id="list-index" href="/books/list">Index</a></li>
        <li><a id="list-category" href="/books/categories">Category</a></li>
    </ol>
    <a href="">Actions</a>
    <ol>
        <li><a id="suggest" href="#!">Request Book</a></li>
        <li><a href="/books/new">Save a Book</a></li>
    </ol>
</div>

<div class="d-md-none mb-2" id="menuToggler">
    <button id="fastDownButton">⏬</button>
    <button class="d-none" id="fastUpButton">⏫</button>
</div>
<script src="/javascripts/toggleMenu.js"></script>
<script>
    const params = new Proxy(new URLSearchParams(window.location.search), {
        get: (searchParams, prop) => searchParams.get(prop),
    });
    if (params.category) {
        document.getElementById('list-category').classList.add('active')
    } else {
        document.getElementById('list-index').classList.add('active')
    }
</script>

<div class="col-md-9 col-lg-6 offset-md-3 overflow-auto position-relative">
    <h1 class="h3 text-center p-4 mb-3 bg-gradient bg-secondary rounded-3 text-light"><%= category %> </h1>
    <hr class="mb-4">
    <% for (let book of books) { %>
        <div class="card border-top-0 border-primary book-tab my-5">
            <div class="row">
                <div class="col-md-3 offset-md-1 text-center">
                    <img class="img-fluid icon" alt="<%= book.filetype.split('+')[0].toLowerCase() %> " src="/assets/images/<%= book.filetype.split('+')[0].toLowerCase() %> icon image.png">
                </div>
                <div class="col-md-8">
                    <div class="card-body text-center text-md-start">
                        <a class="h5 card-title stretched-link text-decoration-none" href="/books/1/<%= book.title %>"><%= book.title %></a>
                        
                        <p class="card-text text-capitalize text-muted"><em><%= book.author.toLowerCase() %></em></p>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
    
    <%- include('../partials/loginModal') %>

    <%- include('../partials/paginate') %> <hr>
</div>

<div class="d-none d-lg-block col-3 offset-9 pt-3 position-fixed mh-100 scroll ps-5">
    <p class="text-muted small text-center"><strong>Piece for the day</strong></p>
    <%- include('../partials/ad/art') %>  
</div>

<div class="" style="margin-bottom: 100px;"></div>

<div class="d-lg-none col-md-9 offset-md-3 py-5 d-flex justify-content-center">    
    <div class="footer-item">
        <p class="text-muted small pt-2 text-center"><strong>Piece for the day</strong></p>
        <%- include('../partials/ad/art2') %>    
    </div>
</div>

<div class="col-lg-6 col-md-9 offset-md-3 py-5 d-flex justify-content-center">
    <div class="footer-item p-4">
        <p class="text-muted small pt-2 text-center"><strong>There was a <%= adBio[1].gender === 'male' ? 'Man' : 'Woman' %> </strong></p>
        <%- include('../partials/ad/bio2') %>
    </div>
</div>

<%- include('../partials/ad2') %>

<script>
    const pageTitle = "Books";
</script>
