<% layout('layouts/boilerplate')%>


<!-- <div id="cluster-map"></div> -->
    <div class="col-md-3 menu d-none d-md-block scroll">
        <a class="h5" href="/books">Feature</a>
        <a class="h5" href="/books/list">List</a>
        <ol>
            <li><a href="/books/list">A - Z</a></li>
            <li><a href="/books/categories">Category</a></li>
        </ol>
        <a href="/books/new">Add Book</a>
    </div>
    
    <div class="col-md-9 col-lg-6 offset-md-3 overflow-auto">
        <h3 class="text-center mt-3"><%= category %> </h3>
    <% for (let book of books) { %>
        <div class="card border-top-0 border-primary book-tab my-5">
            <div class="row">
                <div class="col-md-3 offset-md-1 text-center">
                    <img class="img-fluid icon" alt="" src="/assets/images/pdf icon image.png">
                </div>
                <div class="col-md-8">
                    <div class="card-body text-center text-md-start">
                        <a class="h5 card-title stretched-link text-decoration-none" href="/books/<%=book._id%>"><%= book.title %></a>

                        <p class="card-text text-capitalize text-muted"><em><%= book.author.toLowerCase() %></em></p>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
    
<%- include('../partials/paginate') %> 
    </div>

    <script>
        const pageTitle = "Books";
    </script>
