<% layout('layouts/boilerplate')%>

<div id="menu" class="d-none col-md-3 menu d-md-block scroll">
    <a class="h5" href="/books">Feature</a>
    <a class="h5" href="/books/list">List</a>
    <ol>
        <li><a href="/books/list">Index</a></li>
        <li><a href="/books/categories">Category</a></li>
    </ol>
    <a href="">Actions</a>
    <ol>
        <% if (currentUser?.currentRead?.bookId) { %>
            <% const { bookId, page } = currentUser.currentRead %>
            <li><a href="/books/<%= bookId %>/read?page=<%= page %>">Continue Reading...</a></li>
        <% } %>
        <li><a id="suggest" href="#!">Request Book</a></li>
        <li><a href="/books/new">Upload a Book</a></li>
    </ol>
</div>

<div class="d-md-none mb-2" id="menuToggler">
    <button class="btn btn-outline btn-info" id="fastDownButton"><i class="bi bi-chevron-double-down"></i></button>
    <button class="d-none btn btn-outline btn-info" id="fastUpButton"><i class="bi bi-chevron-double-up"></i></button>
</div>
<script src="/javascripts/toggleMenu.js"></script>

<div class="col-md-6 col-lg-4 offset-md-4 overflow-x-hidden">
    <% if(!book.isApproved) { %> 
        <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
            This book is yet to be approved! 
        </div>
    <% } %> 
    <div class="card text-center mb-3 card-size position-relative">
        <% if (book.image["480"] != 'none') { %>        
            <img class='card-img-top rounded img-thumbnail' style="min-height: 320px;" src= <%= 'https://godinprintsdocuments.s3.amazonaws.com/' + book.image["480"].replace(/ /g, "+") %> alt="<%= book.title %> "> 
        <% } else { %>
            <img class="card-img-top rounded img-thumbnail" alt="<%= book.title %> " src="/assets/images/<%= book.filetype.split('+')[0].toLowerCase() %> icon image.png">
            <% } %> 
        <div class="card-body">
            <h1 class="h5 card-title"><%= book.title.toUpperCase() %></h1>
            <% if (book.affiliates?.amazon) { %>
                <a href="<%= book.affiliates?.amazon %>" target="_blank" class="btn btn-sm btn-light text-secondary border px-4"><em class="pe-2">Buy on Amazon</em><i class="bi bi-cart-fill"></i></a>
            <% } else { %>
                <a href="https://www.amazon.com/s?k=<%= (book.title + " by " + book.author).replace(/ /g, "+") %>&tag=godinprints23-20" target="_blank" class="btn btn-sm btn-light text-secondary border px-4"><em class="pe-2">Buy on Amazon</em><i class="bi bi-cart-fill"></i></a>
            <% } %>
            <!-- https://www.amazon.com/Benjamin-Generation-Joseph-Prince-ebook/dp/B0065QX2XU?dib=eyJ2IjoiMSJ9.AzBKNUrD5kP3gO_dGYXBnuY-95xYi_j8m27yusQl6s20VQyx1Xvv9_tfpDSRg_d6v-HcPqAZtwTkfea3QJj7-XwYSCIbzvy0Je85f-dXVto5Ltn1__e03uwfW_ZCDAApaml9nGnuY9H6jgAolKInHqHZdrXv79d5AzprGwSfLaFWD8sOo0iDuraR5eznfo57CLJSlVvl26AhZ6VuuRI4qMw8vxO3ZIf3s6u2W1dG4AM.kkCIHdmthjMGe0V31uEkqFzBXACs8u7uc9ypchmRPN8&dib_tag=se&keywords=Benjamin+Generation&qid=1744032396&sr=8-1&linkCode=ll1&tag=godinprints23-20&linkId=a8f7a13c3d6d2f4aea447a86c1c106ee&language=en_US&ref_=as_li_ss_tl -->
            <!-- <img src="/images/buy-on-amazon-button.png" alt="Buy on Amazon" class="img-fluid" style="width: 150px; height: auto;"> -->
            <!-- <div class="d-flex justify-content-center"></div> -->
            <!-- <p class="card-text text-capitalize"><em>by </em>book.author.toLowerCase()</p> -->
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-muted text-capitalize"><em>Author: <%= book.author %> </em></li>
            <li class="list-group-item text-muted"><em class="pe-2">Size: </em><small><%= book.document.size >= 1000000 ? Math.round(book.document.size / 10000) / 100 + 'MB' : Math.round(book.document.size / 1000) + 'KB' %> </small></li>
            <li class="list-group-item text-muted text-capitalize"><button id="share" class="btn btn-sm btn-light text-secondary border px-4"><em class="pe-2">Share Link</em><i class="bi bi-share-fill"></i></button></li>
        </ul>
        <div class="card-body d-flex justify-content-around">
            <!-- <form class="d-inline" action="/books/<%= book._id %>/download" method="get"> -->
                <a id="bookDownload" class="btn btn-lg btn-success" href="/books/<%= book._id %>/download">Download</a>
                <span class="mytooltip">
                    <a id="readOnline" href="/books/<%= book._id %>/read" class="btn btn-lg btn-outline border-success text-success">Read Online</a>
                    <!-- <span class="<= currentUser?.subscription.status !== 'classic' ? 'd-none' : 'tooltiptext' %> small p-1 mb-2">Subscription Required</span> -->
                    <!-- <button type="button" data-bs-toggle="modal" data-bs-target="#previewModal" class="btn btn-lg btn-outline border-success text-success <= !book.image.previews?.length && 'disabled'%>">Preview</button>
                    <span class="<= book.image.previews?.length ? 'd-none' : 'tooltiptext' %> small p-1 mb-2">Preview not available for this book.</span> -->
                </span>
                <!-- <button class="btn btn-lg btn-success">Download</button>
            </form> -->
        </div>
        <% if (currentUser) { %>
            <b><small class="text-secondary d-block text-center pb-1">
                Downloads limit: <%= limit[currentUser.subscription.status] %> per month <i>
                <%- currentUser.subscription.status != 'premium' ? `<i class="bi bi-dot"></i> <a style="text-decoration: underline dotted;" href="/subscription">increase limit</a>` : '' %> 
            </i></small></b>
        <% } %>
        <!-- <div class="card-footer text-muted">
            2 days ago
        </div> -->
        <%- include('../partials/loginModal') %> 
    </div>
    
    <% if (currentUser) { %> 
    <p id="downloads" class="text-center"><button type="button" data-bs-toggle="modal" data-bs-target="#downloadsModal" class="text-muted text-decoration-underline btn btn-sm">Downloads History</button ></p>

    <div id="ticketForm" class="flex justify-content-center mt-5">
        <form action="/books/<%= book._id %>/download/ticket" method="post" class="border border-2 border-secondary my-5 p-3 pb-0" style="width: 300px; max-width: 90%;">
            <h6 class="text-center">Download with Ticket!</h6>
            <input type="text" name="ticketId" placeholder="Ticket Id" class="form-control my-3" required>
            <button class="btn btn-primary w-100">Download</button>
            <p class="small text-end pt-3"><a href="/subscription#ticketTop">Get a ticket</a></p>
        </form>
    </div>
    <% } %> 

    <div id="similar" class="row overflow-hidden mt-5">
        <p class="d-flex justify-content-between align-items-center h5 m-0">
            <span class="text-truncate">Others like <small class="text-capitalize"><%= book.title.toLowerCase() %></small></span>
            <small class="text-nowrap"><a href="/books">Features >></a></small>
        </p>
        <hr class="mt-2 mb-3" style="height: 2px;">
        <div class="overflow-auto scroll-xy">
            <div id="list" class="flex align-items-start">
                <div class="fade-animate" style="width: 150px; margin-right: 15px;">
                    <div class="bg-secondary w-100 mb-2" style="height: 180px;"></div>
                    <span class="bg-secondary d-block h6 w-75" style="height: 20px;"></span>
                    <span class="bg-secondary d-block h6 w-50" style="height: 20px;"></span>
                </div>
                <div class="fade-animate" style="width: 150px; margin-right: 15px;">
                    <div class="bg-secondary w-100 mb-2" style="height: 180px;"></div>
                    <span class="bg-secondary d-block h6 w-75" style="height: 20px;"></span>
                    <span class="bg-secondary d-block h6 w-50" style="height: 20px;"></span>
                </div>
                <div class="fade-animate" style="width: 150px;">
                    <div class="bg-secondary w-100 mb-2" style="height: 180px;"></div>
                    <span class="bg-secondary d-block h6 w-75" style="height: 20px;"></span>
                    <span class="bg-secondary d-block h6 w-50" style="height: 20px;"></span>
                </div>
            </div>    
        </div>
    </div>
</div>

<div class="review offset-md-3 col-md-9 col-lg-3 offset-lg-9 scroll p-5 p-lg-0">
    <% if (currentUser) { %> 
    <form action="/books/<%= book._id %>/addReview" method="POST" novalidate class="validated-form">
        <div class="mb-3">
            <label class="form-label ms-2" for="review-text"><strong>Review:</strong></label>
            <textarea class="form-control bg-transparent" id="review-text" name="review[text]" rows="3" required></textarea>
            <button class="btn btn-primary btn-sm d-block ms-auto py-0 px-2"><span>POST</span></button>
        </div>
    </form>
    <% } else { %> 
    <div class="p-3 rounded-3 bg-secondary bg-gradient text-light text-center shadow"><small>LOG IN TO REVIEW</small></div>
    <% } %> 
    <% for(let review of book.reviews) { %>
    <div id="<%= review._id %>" class="card m-3 rounded-5">
        <div class="card-body p-0">
            <div class="review-box">
                <p class=" lh-sm small fs-6 m-2"><%= review.text %></p>
                <p class="card-title text-capitalize d-flex m-1">
                    <em class="text-muted small ms-auto fw-lighter"> - <%= review.author.firstName.toLowerCase() %> <%= review.author.lastName.toLowerCase() %></em>
                </p>
            </div>
            <div class="d-flex align-items-end small border-top m-1" style="opacity: 0.5;">
                <a id="l<%= review._id %>" class="lreview mx-1" href="javascript:;"><i class="bi bi-hand-thumbs-up-fill text-primary"></i></a>
                <small class="me-auto"> <%= (review.likes.length > 0 ? review.likes.length : '') %> </small>
                <% if (review.author.equals(currentUser) || currentUser?.admin == 5) { %> 
                <a class="mx-3" href="/reviews/<%= review._id %>/edit"><i class="bi bi-pencil-fill text-primary"></i></a>
                <a id="d<%= review._id %>" class="<%= book._id %> dreview" href="javascript:;"><i class="bi bi-trash-fill text-danger"></i></a>
                <% } %> 
            </div>
        </div>
    </div>
    <% } %>
</div>

<div class="col-md-9 col-lg-6 offset-md-3 overflow-x-hidden my-3">
    <div class="flex flex-wrap flex-column mt-5 p-md-5 d-md-none" style="gap: 40px;">
        <%- include('../partials/ad/art') %>  
        <%- include('../partials/ad/bio2') %>  
    </div>
    <div class="flex flex-wrap flex-column mt-5 p-md-5 d-none d-md-block" style="gap: 40px;">
        <%- include('../partials/ad/art') %>  
        <%- include('../partials/ad/bio2') %>  
    </div>
</div>
    
<div class="modal fade" id="downloadsModal" tabindex="-1" aria-labelledby="downloadsModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Downloads</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-secondary">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <p class="text-secondary mt-3">Retrieving downloads</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<script>
    const pageTitle = "Books";
</script>

<script>
    const similarContainer = document.getElementById('similar');
    const listDom = similarContainer.querySelector('#list');
    axios.get('/books/<%= book._id %>/similar').then(response => {
        if (response.data?.length) {
            listDom.innerHTML = '';
            response.data.map((book) => {
                const anchor = document.createElement('a');
                anchor.href = `/books/${book._id}`;
                anchor.classList.add('d-flex','flex-column','justify-content-between','h-auto','pe-5');

                const img = document.createElement('img');
                img.style.height = '180px';
                img.src = 'https://godinprintsdocuments.s3.amazonaws.com/' + book.image["160"].replace(/\ /g, "+");
                img.alt = book.title;

                const h6 = document.createElement('h6');
                h6.classList.add('small','text-capitalize','text-wrap','multiline-ellipsis','mt-2','mb-4');
                h6.innerHTML = book.title.toLowerCase();

                anchor.appendChild(img); anchor.appendChild(h6);
                listDom.appendChild(anchor);
            })
        }
    }).catch(err => {})

    document.getElementById('readOnline')?.addEventListener('click', () => swal("Please wait...", { buttons: false }));

    const shareData = {
        title: `<%= book.title.toUpperCase() %>`,
        text: 'Use the link provided to download the book: \n\n' + `'<%= book.title.toUpperCase() %>'` + '\n\n for free. \n',
        url: window.location.href
    }
    const shareBtn = document.querySelector('#share');
    shareBtn?.addEventListener('click', async () => navigator.share(shareData))

    document.getElementById('bookDownload')?.addEventListener('click', () => {
        const mydiv = document.createElement('strong');
        mydiv.innerHTML = '<i class="bi bi-download pe-3"></i><span>Downloading...</span>'
        swal('','','info',{content: mydiv});
        setTimeout(() => {
            swal.close();
        }, 5000);
    })

    document.getElementById('ticketForm')?.addEventListener('submit', () => {
        const mydiv = document.createElement('strong');
        mydiv.innerHTML = '<i class="bi bi-download pe-3"></i><span>Retrieving ticket, Downloading...</span>'
        swal('','','info',{content: mydiv});
        setTimeout(() => {
            swal.close();
        }, 8000);
    }, { once: true })

</script>
 
