<% layout('layouts/boilerplate')%>

<div id="menu" class="col-md-3 menu d-none d-md-block scroll">
    <a class="h5" href="/books">Feature</a>
    <a class="h5" href="/books/list">List</a>
    <ol>
        <li><a href="/books/list">Index</a></li>
        <li><a href="/books/categories">Category</a></li>
    </ol>
    <a href="">Actions</a>
    <ol>
        <li><a id="suggest" href="#!">Request Book</a></li>
        <li><a href="/books/new">Save a Book</a></li>
    </ol>
</div>

<div class="d-md-none mb-2" id="menuToggler">
    <button class="btn btn-outline btn-info" id="fastDownButton"><i class="bi bi-chevron-double-down"></i></button>
    <button class="d-none btn btn-outline btn-info" id="fastUpButton"><i class="bi bi-chevron-double-up"></i></button>
</div>
<script src="/javascripts/toggleMenu.js"></script>

<div class="col-md-6 col-lg-4 offset-md-4 overflow-auto">
    <% if(!book.isApproved) { %> 
        <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
            This book is yet to be approved! 
        </div>
    <% } %> 
    <div class="card text-center mb-3 card-size position-relative">
        <% if (book.image.key != 'none') { %>        
            <img class='card-img-top rounded img-thumbnail' style="min-height: 320px;" src= <%= 'https://godinprintsdocuments.s3.amazonaws.com/' + book.image.key.replaceAll(" ", "+") %> alt="<%= book.title %> "> 
        <% } else { %>
            <img class="card-img-top rounded img-thumbnail" alt="<%= book.title %> " src="/assets/images/<%= book.filetype.split('+')[0].toLowerCase() %> icon image.png">
            <% } %> 
        <div class="card-body">
            <h1 class="h5 card-title text-capitalize"><%= book.title.replaceAll('.pdf', '') %> <%= book.author === ' '? '': ' by ' + book.author %> </h1>
            <div class="d-flex justify-content-center"><button id="share" class="btn btn-sm btn-light text-secondary border px-4"><em class="pe-2">Share Link</em><i class="bi bi-share-fill"></i></button></div>
            <!-- <p class="card-text text-capitalize"><em>by </em>book.author.toLowerCase()</p> -->
        </div>
        <ul class="list-group list-group-flush">
            <!-- <li class="list-group-item text-muted text-capitalize"><em>About: book.keywords.toLowerCase()</em></li> -->
            <li class="list-group-item"><em class="pe-2">Size: </em><small><%= book.document.size >= 1000000 ? Math.round(book.document.size / 10000) / 100 + 'MB' : Math.round(book.document.size / 1000) + 'KB' %> </small></li>
        </ul>
        <div class="card-body d-flex justify-content-around">
            <!-- <form class="d-inline" action="/books/<%= book._id %>/download" method="get"> -->
                <a class="btn btn-lg btn-success" href="/books/<%= book._id %>/download">Download</a>
                <a class="btn btn-lg btn-outline-success disabled" href="/books/<%= book._id %>/read">&nbsp;&nbsp;Read&nbsp;&nbsp;</a>
                <!-- <button class="btn btn-lg btn-success">Download</button>
            </form> -->
        </div>
        <% if (currentUser) { %>
            <small class="text-secondary d-block text-center pb-1">
                Download limit: <%= limit[currentUser.subscription.status] %> per month <i>
                <%- currentUser.subscription.status != 'premium' ? `<i class="bi bi-dot"></i> <a style="text-decoration: underline dotted;" href="/subscription">increase limit</a>` : '' %> 
            </i></small>
        <% } %>
        <!-- <div class="card-footer text-muted">
            2 days ago
        </div> -->
        <%- include('../partials/loginModal') %> 
    </div>
    
    <% if (currentUser) { %> 
    <p id="downloads" class="text-center"><button type="button" data-bs-toggle="modal" data-bs-target="#downloadsModal" class="text-muted text-decoration-underline btn btn-sm">Downloads History</button ></p>

    <div class="flex justify-content-center my-5">
        <form action="/books/<%= book._id %>/download/ticket" method="post" class="border border-2 border-secondary my-5 p-3 pb-0" style="width: 300px; max-width: 90%;">
            <h6 class="text-center">Download with Ticket!</h6>
            <input type="text" name="ticketId" placeholder="Ticket Id" class="form-control my-3" required>
            <button id="ticketBtn" class="btn btn-primary w-100">Download</button>
            <p class="small text-end pt-3"><a href="/subscription#ticket">Get a ticket</a></p>
        </form>
    </div>
    <% } %> 
</div>

<div class="review offset-md-3 col-md-9 col-lg-3 offset-lg-9 scroll p-5 p-lg-0">
    <% if (currentUser) { %> 
    <form action="/books/<%= book._id %>/addReview" method="POST" novalidate class="validated-form">
        <div class="mb-3">
            <label class="form-label ms-2" for="review-text"><strong>Review:</strong></label>
            <textarea class="form-control bg-transparent" id="review-text" name="review[text]" rows="3" required></textarea>
            <button class="btn-primary btn-sm d-block ms-auto py-0 px-2">Add</button>
        </div>
    </form>
    <% } else { %> 
    <div class="p-3 rounded-3 bg-secondary bg-gradient text-light text-center shadow"><small>LOG IN TO REVIEW</small></div>
    <% } %> 
    <% for(let review of book.reviews) { %>
    <div id="<%= review._id %>" class="card m-3 rounded-5">
        <div class="card-body p-0">
            <div class="review-box">
                <p class="review-text lh-sm small fs-6 m-2"><%= review.text %></p>
                <p class="card-title text-capitalize d-flex m-1">
                    <em class="text-muted small ms-auto fw-lighter"> - <%= review.author.firstName.toLowerCase() %> <%= review.author.lastName.toLowerCase() %></em>
                </p>
            </div>
            <div class="d-flex align-items-end small border-top m-1" style="opacity: 0.5;">
                <a id="l<%= review._id %>" class="lreview mx-1" href="javascript:;">👍🏻</a>
                <small class="me-auto"> <%= (review.likes.length > 0 ? review.likes.length : '') %> </small>
                <% if (review.author.equals(currentUser)) { %> 
                <a class="mx-3" href="/reviews/<%= review._id %>/edit">📝</a>
                <a id="d<%= review._id %>" class="<%= book._id %> dreview" href="javascript:;">✖</a>
                <% } %> 
            </div>
        </div>
    </div>
    <% } %>
</div>

<script>
    const pageTitle = "Books";
</script>

<script>
    const shareData = {
        title: `<%= book.title.toUpperCase() %>`,
        text: 'Use the link provided to download the book: \n\n' + `'<%= book.title.toUpperCase() %>'` + '\n\n for free. \n',
        url: window.location.href
    }
    const shareBtn = document.querySelector('#share');
    shareBtn.addEventListener('click', async () => navigator.share(shareData))

    document.getElementById('downloads')?.addEventListener('click', () => {
        axios.get('/books/downloads').then(response => {
            // console.log(response.data)
            const listDom = document.getElementById('downloadsModal').querySelector('.modal-body');
            if (!response.data.last30.length && !response.data.other.length) {
                listDom.innerHTML = 'There are no books in your downloads folder!';
            } else {
                listDom.innerHTML = '';
            }
            if (response.data.last30.length) {
                const title1 = document.createElement('h6');
                title1.classList.add('text-center','text-secondary','p-3');
                title1.innerHTML = 'Last 30 days';
                listDom.appendChild(title1);
                response.data.last30.forEach((download, index) => {
                    const title = document.createElement('h6');
                    title.classList.add('text-capitalize','text-dark','border-top','border-secondary','pt-3');
                    title.innerHTML = `${index + 1}. ` + download.title.toLowerCase() + (download.author == ' ' ? '' : ' by ' + download.author.toLowerCase());
                    const info = document.createElement('p');
                    info.classList.add('d-flex','justify-content-between','text-muted','small','mt-1');
                    info.innerHTML = `<span>${(new Date(download.downloadTime)).toString().slice(0,33)}</span><i>${download.ticket ? '- with Ticket' : ''}</i>`;
                    listDom.appendChild(title); listDom.appendChild(info);
                })
            }
            if (response.data.other.length) {
                const title1 = document.createElement('h6');
                title1.classList.add('text-center','text-secondary','p-3');
                title1.innerHTML = 'Over 30 days';
                listDom.appendChild(title1);
                response.data.other.forEach((download, index) => {
                    const title = document.createElement('h6');
                    title.classList.add('text-capitalize','text-dark','border-top','border-secondary','pt-3');
                    title.innerHTML = `${index + 1}. ` + download.title.toLowerCase() + (download.author == ' ' ? '' : ' by ' + download.author.toLowerCase());
                    const info = document.createElement('p');
                    info.classList.add('d-flex','justify-content-between','text-muted','small','mt-1');
                    info.innerHTML = `<span>${(new Date(download.downloadTime)).toString().slice(0,33)}</span><i>${download.ticket ? '- with Ticket' : ''}</i>`;
                    listDom.appendChild(title); listDom.appendChild(info);
                })
            }
        })
    })
</script>
    
<div class="modal fade" id="downloadsModal" tabindex="-1" aria-labelledby="downloadsModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Downloads</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-secondary">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <p class="text-secondary mt-3">Retrieving downloads</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
 
