<% layout('layouts/boilerplate')%>

<div id="menu" class="col-md-3 menu d-none d-md-block scroll">
    <a class="h5" href="/books">Feature</a>
    <a class="h5" href="/books/list">List</a>
    <ol>
        <li><a href="/books/list">Index</a></li>
        <li><a href="/books/categories">Category</a></li>
    </ol>
    <a href="">Actions</a>
    <ol>
        <li><a id="suggest" href="#!">Request Book</a></li>
        <li><a href="/books/new">Save a Book</a></li>
    </ol>
</div>

<div class="d-md-none mb-2" id="menuToggler">
    <button id="fastDownButton">⏬</button>
    <button class="d-none" id="fastUpButton">⏫</button>
</div>
<script src="/javascripts/toggleMenu.js"></script>

<div class="col-md-6 col-lg-4 offset-md-4 overflow-auto position-relative">
    <% if(!book.isApproved) { %> 
        <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
            This book is yet to be approved! 
        </div>
    <% } %> 
    <div class="card text-center mb-3 card-size">
        <% if (book.image.key != 'none') { %>        
            <img class='card-img-top rounded img-thumbnail' src= <%= 'https://godinprintsdocuments.s3.amazonaws.com/' + book.image.key.replaceAll(" ", "+") %> alt="<%= book.title %> "> 
        <% } else { %>
            <img class="card-img-top rounded img-thumbnail" alt="<%= book.title %> " src="/assets/images/<%= book.filetype.split('+')[0].toLowerCase() %> icon image.png">
            <% } %> 
        <div class="card-body">
            <h1 class="h5 card-title text-capitalize"><%= book.title %> <%= book.author === ' '? '': ' - ' + book.author %> </h1>
            <!-- <p class="card-text text-capitalize"><em>by </em>book.author.toLowerCase()</p> -->
        </div>
        <ul class="list-group list-group-flush">
            <!-- <li class="list-group-item text-muted text-capitalize"><em>About: book.keywords.toLowerCase()</em></li> -->
            <li class="list-group-item"><em>Size: </em><%=Math.round(book.document.size/1000)%> kb</li>
        </ul>
        <div class="card-body d-flex justify-content-around">
            <!-- <form class="d-inline" action="/books/<%=book._id%>/download" method="get"> -->
                <a class="btn btn-lg btn-success" href="/books/<%=book._id%>/download">Download</a>
                <a class="btn btn-lg btn-outline-success disabled" href="/books/<%=book._id%>/read">&nbsp;&nbsp;Read&nbsp;&nbsp;</a>
                <!-- <button class="btn btn-lg btn-success">Download</button>
            </form> -->
        </div>
        <% if (currentUser) { %>
            <small class="text-secondary d-block text-center">
                Download limit: <%= currentUser.subscription.status === 'platinum' ? '5 per week' : currentUser.subscription.status === 'premium' ? '3 per week' : '1 per month' %> <i class="bi bi-dot"></i> <i>
                <a style="text-decoration: underline dotted;" href="/subscription">increase limit</a>
            </i></small>
        <% } %>
        <!-- <div class="card-footer text-muted">
            2 days ago
        </div> -->
    </div>
    <%- include('../partials/loginModal') %> 
</div>

<div class="review offset-md-3 col-md-9 col-lg-3 offset-lg-9 scroll p-5 p-lg-0">
    <% if (currentUser) { %> 
    <form action="/books/<%= book._id %>/addReview" method="POST" novalidate class="validated-form">
        <div class="mb-3">
            <label class="form-label ms-2" for="review-text"><strong>Review:</strong></label>
            <textarea class="form-control bg-transparent" id="review-text" name="review[text]" rows="3" required></textarea>
            <button class="btn-primary btn-sm d-block ms-auto py-0 px-2">Add</button>
        </div>
    </form>
    <% } else { %> 
    <div class="p-3 rounded-pill bg-secondary bg-gradient text-light text-center shadow"><small>LOG IN TO REVIEW</small></div>
    <% } %> 
    <% for(let review of book.reviews) { %>
    <div id="<%= review._id %>" class="card m-3 rounded-5">
        <div class="card-body p-0">
            <div class="review-box">
                <p class="review-text lh-sm small fs-6 m-2"><%= review.text %></p>
                <p class="card-title text-capitalize d-flex m-1">
                    <em class="text-muted small ms-auto fw-lighter"> - <%= review.author.firstName.toLowerCase() %> <%= review.author.lastName.toLowerCase() %></em>
                </p>
            </div>
            <div class="d-flex align-items-end small border-top m-1" style="opacity: 0.5;">
                <a id="l<%= review._id %>" class="lreview mx-1" href="javascript:;">👍🏻</a>
                <small class="me-auto"> <%= (review.likes.length > 0 ? review.likes.length : '') %> </small>
                <% if (review.author.equals(currentUser)) { %> 
                <a class="mx-3" href="/reviews/<%= review._id %>/edit">📝</a>
                <a id="d<%= review._id %>" class="dreview" href="javascript:;">✖</a>
                <% } %> 
            </div>
        </div>
    </div>
    <% } %>
</div>

<script>
    let route; let xhttp; const idLength ={};
</script>

<script>
    idLength['<%= book._id %>'] = 1000;
</script>

<script>
    const pageTitle = "Books";
</script>
    

 
