<div class="row ">
    <div class="col-md-9 col-lg-6 offset-md-3">
        <div style="min-height: 325px;" class="row advert">
          <% if (featureMovie !== null) { %>
            <div class="footer-item col-10 col-md-5 offset-0 offset-md-0 ms-auto me-auto">
              <article class="mb-2 rounded-3 overflow-hidden bg-dark text-light border d-flex flex-column">
                <div class="position-relative">          
                    <a href="/media/movies/<%= featureMovie.id %>/<%= featureMovie.snippet.title.replace(/ /g, '_') %>">  
                        <img class="w-100 ratio-16x9" src="<%= featureMovie.snippet.thumbnails.medium.url %>" alt="<%= featureMovie.snippet.title %>">
                        <span class="play position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center h1 bg-secondary text-light"><i class="bi bi-play-fill"></i></span>
                    </a>
                    <ol style="z-index: 1000000;" class="optionsList d-none bg-white text-dark position-absolute top-100 end-0 border rounded-3 p-1 m-3">
                        <li id="<%= featureMovie.id %>" class="p-2 later"><i class="bi bi-clock pe-2"></i><small>Save to Watch Later</small></li>
                    </ol>
                </div>
                <a class="p-2 pt-3" href="/media/movies/<%= featureMovie.id %>/<%= featureMovie.snippet.title %>">
                    <span>
                        <p class="text-light small m-0 p-0"><%= featureMovie.snippet.title.split(" | ")[0] %> </p>
                        <span class="text-muted small">
                          <%= (featureMovie.duration.hours ? featureMovie.duration.hours + ":" : "") + featureMovie.duration.minutes + ":" + featureMovie.duration.seconds %>
                          <!-- <i class="bi bi-dot h5"></i>
                          <%= featureMovie.views %> views
                          <i class="bi bi-dot h5"></i>
                          <%= featureMovie.published %> -->
                        </span>
                    </span>
                </a>
              </article>
                <!-- <div class="web-ad text-center py-2 d-flex flex-column justify-content-center" style="color: lightgray;">
                    <h4 class="m-2">Get your website</h4>
                    <h4 class="m-2">up and running</h4>
                    <h4 class="m-2">in 7 days or less,</h4>
                    <h4 class="m-2">at discounted price!</h4>
                    <p class="m-2"><a class="dotted-under" href="/?rq=1#contact">Click here</a></p>
                    <h5 class="m-3">OR</h5>
                    <h4 class="m-3">Send an email to</h4>
                    <a style="word-wrap:break-word; color: inherit;" class="m-3 small" href="mailto:gipteam@hotmail.com">GIPTeam@hotmail.com</a>
                </div> -->
            </div>
          <% } %>
        <div class="footer-item col-10 col-md-5 offset-2 offset-md-1 text-center ms-auto me-auto">
            <!-- <strong class="text-muted"><small>GET OUR APPS ON PLAY STORE(<em>Click Image </em>👇)</small></strong> -->
            <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active text-center">
                    <a href="https://play.google.com/store/apps/details?id=com.tolujosh.puzzle" target="_blank">
                        <img width="45%" src="https://play-lh.googleusercontent.com/P-oqUcl54Gf7iv-xvvgioXTZSpidK54XhUdo35HgedNSNz99OSh2iQc23TjQJeWLYNc=w526-h296-rw" class="" alt="...">
                        <img width="48%" src="https://play-lh.googleusercontent.com/ceOx2i0YH_z4rJJEgsCoOjFsapChByIudw4tnWhbhQmaryNBZmhxBWKtL_flQnDeC3o=w526-h296-rw" class="" alt="...">
                    </a>
                    <div class="carousel-caption d-md-block">
                      <h5 class="text-white small">Quiz: Book of the Bible</h5>
                    </div>
                  </div>
                  <div class="carousel-item text-center">
                      <a href="https://play.google.com/store/apps/details?id=com.ToluJosh.biblereadingplanner" target="_blank">
                    <img width="45%" src="https://play-lh.googleusercontent.com/lJeQ1SschnvnSuFcOgfNzSgz7uejRu3G5RP2IhXeH63ywUpvM6OcQlYHt2wdeQ-akg=w526-h296-rw" class="" alt="...">
                    <img width="45%" src="https://play-lh.googleusercontent.com/NN5r87MaK2i94jGwfmp4aHD5O-vSrDkkdutJaaSereNxqerKpgxIltYaljXkK0CK7Q=w526-h296-rw" class="" alt="...">
                    </a>
                    <div class="carousel-caption d-md-block">
                      <h5>Bible Planner</h5>
                    </div>
                  </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
        </div>
    </div>
</div>