<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>God-in-prints</title>
  <meta name="description" content="Christian Libraries for books, biographies, articles and other resources.">
  <meta name="keywords" content="christian library, book, article, biography, author, book store">
  
  <link rel="icon" href="/assets/images/burningBook.jfif" type="image/x-icon">
  
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">  
  <link href="https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap" rel="stylesheet">    
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">

  <link href="/stylesheets/main.css" rel="stylesheet" />
  <link href="/stylesheets/scripture.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://js.paystack.co/v1/inline.js"></script> 
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>
  
  <link rel="stylesheet" href="/stylesheets/myStyle.css">

</head>

<body class ="d-flex flex-column vh-100" >
    <%- include('../partials/navbar') %> 

    <div class="my-5"></div>
    <main class="container-flex mt-5">
      <div class="row">
      <%- include('../partials/flash') %> 
      <%- body %> 
      </div>
    </main>
    
    <%- include('../partials/supportModal') %>
    <%- include('../partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>    
    <script src="/javascripts/validateForms.js"></script>
    <script src="/javascripts/get_story.js"></script>
    <script src="/javascripts/likeReview.js"></script>
    <script src="/javascripts/deleteReview.js"></script>

    <script>
      const navId = pageTitle.toLowerCase();
      document.getElementById('viewing').innerText += '  >  ' + pageTitle;
      document.getElementById(navId) && document.getElementById(navId).classList.add('active');
      document.getElementById('searchForm').action = `/${pageTitle}/search`;
      if (!['books', 'biographies', 'articles', 'bible'].includes(navId))  {
        document.getElementById('search').disabled = true;
        document.getElementById('searchButton').disabled = true;
      } else {
        document.getElementById('search').placeholder = 'search ' + pageTitle;
      }

      const mymodal = document.getElementById('mymodal');

      document.getElementById('closeButton').addEventListener('click', () => {
        mymodal.classList.remove('open');
      })
      function openSupportModal() { mymodal.classList.add('open') };
      document.getElementById('support').addEventListener('click', openSupportModal)

      var paymentForm = document.getElementById('paymentForm');
      paymentForm.addEventListener('submit', payWithPaystack, false);
      function payWithPaystack(e) {
        e.preventDefault();
        if (parseInt(document.getElementById('amount').value) < 1000) return;
        var handler = PaystackPop.setup({
          key: 'pk_live_26a7c0ce088e192d0b52e6adf9e83cecea301547', // Replace with your public key
          email: document.getElementById('email').value,
          amount: document.getElementById('amount').value * 100, // the amount value is multiplied by 100 to convert to the lowest currency unit
          currency: document.getElementById('currency').value, // Use GHS for Ghana Cedis or USD for US Dollars
          callback: function(response) {
            // Make an AJAX call to your server with the reference to verify the transaction
            const data = {
              name: 'Sender: ' + document.getElementById('amount').value + ' - Ref: ' + response.reference,
              email: document.getElementById('email').value,
              message: document.getElementById('message').value || 'no message',
            }
            emailjs.init("LLErcEZSRlUGBQ138");
            emailjs.send('service_sdb5kby', 'template_qyakobg', data);
            e.target.reset();
            mymodal.classList.remove('open');
          },
          onClose: function() {
            console.log('closed')
          },
        });
        handler.openIframe();
      }
    </script>
</body>

</html>