<% layout('layouts/boilerplate')%>

<div id="menu" class="col-md-3 menu d-md-block scroll">
    <a class="h5" href="/resources">Resources</a>
    <a class="h5" href="/growth">Practices</a>
    <ol>
        <% let id = "" %> 
        <% for (let key in growthHabits) { %>
            <li>
                <a href="/growth#<%= id %> "><%= key.replace(/_/g, ' ') %> </a>
            </li>
            <% id = key %> 
        <% }; %> 
    </ol>
</div>

<div class="d-md-none mb-2" id="menuToggler">
    <button class="d-none btn btn-outline btn-info" id="fastDownButton"><i class="bi bi-chevron-double-down"></i></button>
    <button class=" btn btn-outline btn-info" id="fastUpButton"><i class="bi bi-chevron-double-up"></i></button>
</div>
<script src="/javascripts/toggleMenu.js"></script>

<div class="col-md-9 col-lg-6 offset-md-3 overflow-auto">
    <ul class="p-0 m-0">
    <% for (let key in growthHabits) { %>
        <li>
            <h3 class="habit-title p-2"><%= key.replace(/_/g, ' ') %> </h3>
            <% for (let habit of growthHabits[key]) { %> 
                <ul class="p-3">
                    <li id="<%= key %>" class="justify"><img src="https://freesvg.org/img/1551445551.png" height="13" class="me-2" alt="*"><small><b><%= habit %>.</b></small></li>
                </ul>
            <% } %> 
        </li>
    <% }; %> 
    </ul>
</div>

<div class="d-lg-none" style="margin-bottom: 100px;"></div>

<div class="col-md-3 d-lg-none"></div>
<div class="offset-lg-9 col-md-9 col-lg-3 p-lg-0 m-lg-0">
    <div class="w-100 h-100 d-flex flex-column align-items-center">
        <%- include('./partials/trivia/puzzle') %>  
    </div>
</div>

<script>
    const pageTitle = "Growth";
</script>