<!DOCTYPE HTML>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>God In Prints Library | Feature Book, Biography, Article on Christian Faith</title>
		<meta name="description" content="Feature Book, Biography, Article on Christian Faith.">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" href="/assets/images/burningBook.png" type="image/x-icon">
		<link rel="stylesheet" href="assets/css/main.css" />
		<!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5331978820452259"
		crossorigin="anonymous"></script> -->
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<link rel="stylesheet" href="/stylesheets/myStyle.css">
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<!-- Note: The "styleN" class below should match that of the banner element. -->
					<header id="header" class="alt style2">
						<a href="/" class="logo"><strong>God In Prints</strong> <span>Libraries</span></a>
						<nav>
							<a href="#menu">Menu</a>
						</nav>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<ul class="links">
							<li><a href="/">Home</a></li>
							<li><a href="/books">Books</a></li>
							<li><a href="/features">Features</a></li>
							<li><a href="/bible">Scripture</a></li>
							<li><a href="/about">About us</a></li>
						</ul>
						<ul class="actions stacked">
						<% if (!currentUser) { %> 
							<li><a href="/register" class="button primary fit">Register</a></li>
							<li><a href="/login" class="button fit">Log In</a></li>
						<% } else { %> 
							<li><a href="/profile" class="button primary fit">Manage Account</a></li>
							<li><a href="/logout" class="button fit">Log Out</a></li>
						<% } %> 
						</ul>
					</nav>

				<!-- Banner -->
				<!-- Note: The "styleN" class below should match that of the header element. -->
					<section id="banner" class="style2">
						<div class="inner">
							<span class="image">
								<img src="assets/images/library2.jfif" alt="feature documents" />
							</span>
							<header class="major">
								<h1>Features</h1>
							</header>
							<div class="content">
								<p>Explore units of our library resources<br />
								that we have selected for you.</p>
							</div>
						</div>
					</section>

				<!-- Main -->
					<div id="main">

						<!-- One -->
							<section id="one">
								<% if (verse) { %> 
								<div class="inner ">
									<header class="major">
										<h2><%- verse.data.passages[0].reference %></h2>
									</header>
									<p><%- verse.data.passages[0].content %></p>
									<%- verse.meta.fums %>
								</div>
								<% } %> 
							</section>

						<!-- Two -->
							<section id="two" class="spotlights">
								<section>
									<% if (myBook) { %> 
									<a href="books/<%= myBook._id %>" class="image">
										<!-- <img src="images/pic08.jpg" alt="" data-position="center center" /> -->
										<img class='book-image' src= <%= 'https://godinprintsdocuments.s3.amazonaws.com/' + myBook.image.key.replace(/ /g, "+") %> alt="<%= myBook.title %>"> 
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3 style="word-wrap: break-word; max-width: 60vw;"><%= myBook.title.toUpperCase() %> </h3>
											</header>
											<p><%= myBook.author %> </p>
											<ul class="actions">
												<li><a href="books/<%= myBook._id %>" class="button">View Book</a></li>
											</ul>
										</div>
									</div>
									<% } %> 
								</section>
								<section>
									<% if (myBio) { %> 
									<a href="biographies/<%= myBio._id %>" class="image">
										<% if (myBio.image.key === 'none') { %> 
											<img src="/assets/images/<%= myBio.gender %>.png" alt="<%= myBio.name %>" class="bio-image"> <p></p>
										<% } else { %> 
											<img class='bio-image' src= <%= 'https://godinprintsdocuments.s3.amazonaws.com/' + myBio.image.key.replace(/ /g, "+") %> alt="">
										<% } %> 
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3><%= myBio.name %> </h3>
											</header>
											<p><%= myBio.role %> </p>
											<ul class="actions">
												<li><a href="biographies/<%= myBio._id %>" class="button">Read Biography</a></li>
											</ul>
										</div>
									</div>
									<% } %> 
								</section>
								<section>
									<% if (myArt) { %> 
									<a href="articles/<%= myArt._id %>" class="image">

										<% if (myArt.image.key === 'none') { %> 
											<img class="article-image" src="assets/images/articles.jfif" alt="<%= myArt.name %>" />
										<% } else { %> 
											<img class='article-image' src= <%= 'https://godinprintsdocuments.s3.amazonaws.com/' + myArt.image.key.replace(/ /g, "+") %> alt="">
										<% } %> 
									
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3 style="word-wrap: break-word; max-width: 60vw;"><%= myArt.name.toUpperCase() %> </h3>
											</header>
											<p><%= myArt.role %> </p>
											<ul class="actions">
												<li><a href="articles/<%= myArt._id %>" class="button">Read Article</a></li>
											</ul>
										</div>
									</div>
									<% } %> 
								</section>
								<section>
									<% if (myMovie) { %> 
									<a href="/media/movies/<%= myMovie.id %>" class="image">
										<img src="<%= myMovie.snippet.thumbnails.high.url %>" alt="<%= myMovie.title %>" class="bio-image">
									</a>
									<div class="content">
										<div class="inner">
											<header class="major">
												<h3 style="word-wrap: break-word; max-width: 60vw;"><%= myMovie.snippet.title %> </h3>
											</header>
											<p><%= myMovie.forKids? 'For Kids' : '' %> </p>
											<ul class="actions">
												<li><a href="/media/movies/<%= myMovie.id %>" class="button">Watch Movie</a></li>
											</ul>
										</div>
									</div>
									<% } %> 
								</section>
							</section>

						<!-- Three -->
							<section id="three">
								<div class="inner">
									<header class="major">
										<h2>Join Us</h2>
									</header>
									<p>Register as a user to get access to our full list of materials.</p>
									<ul class="actions">
										<li><a href="/register" class="button next">Get Started</a></li>
									</ul>
								</div>
							</section>

					</div>

				<!-- Contact -->
					<section id="contact">
						<div class="inner">
							<section>
								<form id="messageForm" name="messageForm">
									<div class="fields">
										<div class="field half">
											<label for="name">Name</label>
											<input type="text" name="name" id="name" value='<%= !currentUser ? "" : (currentUser.firstName + " " + currentUser.lastName) %>'  />
										</div>
										<div class="field half">
											<label for="email">Email</label>
											<input type="email" name="email" id="email" value="<%= !currentUser ? '' : currentUser.email %> " required/>
										</div>
										<div class="field">
											<label for="message">Message</label>
											<textarea name="message" id="message" rows="6" required></textarea>
										</div>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Send Message" class="primary" /></li>
										<li><input type="reset" value="Clear" /></li>
									</ul>
								</form>
							</section>
							<section class="split">
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-envelope"></span>
										<h3>Email</h3>
										<a href="mailto:GIPTeam@hotmail.com">GIPTeam@hotmail.com</a>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-phone"></span>
										<h3>Phone</h3>
										<span>(+234) 704-114-7115</span>
									</div>
								</section>
								<section>
									<div class="contact-method">
										<span class="icon solid alt fa-home"></span>
										<h3>Address</h3>
										<span>02 Oshuntokun Avenue<br />
										Ibadan, Nigeria</span>
									</div>
								</section>
							</section>
						</div>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<ul class="icons">
								<!-- <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li> -->
								<li><a href="https://web.facebook.com/godinprints" target="_blank" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
								<!-- <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
								<li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li> -->
							</ul>
							<ul class="copyright">
								<li>&copy; <%= new Date().getFullYear() %> God In Prints </li><li><a href="/terms">Terms</a></li><li><a href="/privacy">Privacy</a></li><li>Design (<em>Home</em>) : <a href="https://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>


			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

			<script type="text/javascript"
					src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
			</script>
			<script type="text/javascript">
			(function(){
				emailjs.init("LLErcEZSRlUGBQ138");

				const messageForm = document.getElementById('messageForm');
				messageForm.onsubmit = function(e) {
					e.preventDefault();
					try {
						emailjs.sendForm('service_sdb5kby', 'template_qyakobg', messageForm);
						alert('Message sent successfully!');
						e.target.reset();
					} catch (error) {
						alert('An error occured');
					}
				}
			})();
			</script>

	</body>
</html>