<% layout('layouts/boilerplate')%>

<div id="menu" class="col-md-3 menu d-md-block scroll">
    <a class="h5 active" href="/articles">Feature</a>
    <a class="h5" href="/articles/list">List</a>
    <ol>
        <li><a href="/articles/list">Index</a></li>
        <li><a href="/articles/categories">Category</a></li>
    </ol>
    <a href="">Actions</a>
    <ol>
        <li><a id="suggest" href="#!">Suggest a Topic</a></li>
        <li><a href="/articles/new">Post Article</a></li>
    </ol>
</div>

<div class="d-md-none mb-2" id="menuToggler">
    <button class="d-none btn btn-outline btn-info" id="fastDownButton"><i class="bi bi-chevron-double-down"></i></button>
    <button class=" btn btn-outline btn-info" id="fastUpButton"><i class="bi bi-chevron-double-up"></i></button>
</div>
<script src="/javascripts/toggleMenu.js"></script>


<h1 class="text-center p-4 col-md-9 col-lg-6 offset-md-3">Feature Articles</h1>
<div style="row-gap: 3rem; column-gap: 0.5rem;" class="col-md-9 col-lg-6 offset-md-3 overflow-auto d-flex flex-wrap justify-content-around">
    <% for( article of articles ) { %>
    <a href="/articles/2/<%= article.uid %>" class="position-relative">
        <article style="width: 320px; padding: 4rem 4.5rem;">
            <h6 style="height: 80px; line-height: 1.5rem;" class="d-flex w-100 justify-content-center align-items-center text-capitalize text-center text-dark"><%= article.name %> </h6>
            <p style="font-family: 'Times New Roman', Times, serif;" class="text-muted justify"><%= article.text.replace(/<[^>]*>/g, " ").substring(0, 250) %>... %> </p>
        </article>
        <span class="position-absolute top-0 start-0 w-100 h-100">
            <img src="/assets/images/scroll-bg.png" width="100%" height="100%" alt="scroll background">
        </span>
        <article style="padding: 4rem 4.5rem;" class="position-absolute top-0 start-0 w-100 h-100">
            <h6 style="height: 80px; line-height: 1.5rem;" class="d-flex w-100 justify-content-center align-items-center text-capitalize text-center text-dark"><%= article.name %> </h6>
            <p style="font-family: 'Times New Roman', Times, serif;" class="text-muted justify"><%= article.text.replace(/<[^>]*>/g, " ").substring(0, 250) %>... %> </p>
        </article>
    </a>
    <% } %>
</div>

<div class="d-none d-lg-block col-3 offset-9 pt-3 position-fixed mh-100 scroll ps-5">
    <p class="text-muted small text-center"><strong>Click to Read</strong></p>
    <%- include('../partials/ad/bio') %>  
</div>

<div class="" style="margin-bottom: 100px;"></div>

<div class="d-lg-none col-md-9 offset-md-3 py-5 d-flex justify-content-center">    
    <div class="footer-item">
        <p class="text-muted small pt-2 text-center"><strong>Click to Read</strong></p>
        <%- include('../partials/ad/bio2') %>    
    </div>
</div>

<div class="col-lg-6 col-md-9 offset-md-3 py-5 d-flex justify-content-center">
    <div class="footer-item">
        <p class="text-muted small pt-2 text-center"><strong>This will bless you</strong></p>
        <%- include('../partials/ad/book2') %>
    </div>
</div>

<%- include('../partials/ad2') %>

<script>
    const pageTitle = "Articles";
</script>