<% layout('layouts/boilerplate')%>


<!-- <div id="cluster-map"></div> -->
<div id="menu" class="col-md-3 menu d-none d-md-block scroll">
    <a class="h5" href="/articles">Feature</a>
    <a class="h5 active" href="/articles/list">List</a>
    <ol>
        <li><a href="/articles/list">Index</a></li>
        <li><a href="/articles/categories">Category</a></li>
    </ol>
    <a href="">Actions</a>
    <ol>
        <li><a id="suggest" href="#!">Suggest a Topic</a></li>
        <li><a href="/articles/new">Post Article</a></li>
    </ol>
</div>

<div class="d-md-none mb-2" id="menuToggler">
    <button id="fastDownButton">⏬</button>
    <button class="d-none" id="fastUpButton">⏫</button>
</div>
<script src="/javascripts/toggleMenu.js"></script>
    
<script>let route; let xhttp; const idLength ={};</script>

<div class="col-md-9 col-lg-6 offset-md-3 position-relative">
    <h3 class="text-center m-3"><%= category %> </h3>

    <ul class="mb-3">
        <% for (let article of articles) { %> 
        <li class="my-5">
            <div class="card article-list p-4 shadow">
                <a class="streched-link h5 py-2" href="/articles/<%= article._id %>"><%= article.name %> </a>
                <small id=<%= article._id %> class='text-truncate'><span class="text-muted">loading...</span></small>
                
                <script>idLength['<%= (article._id) %>'] = 120;</script>
            </div>
        </li>
        <% } %> 
    </ul>

<%- include('../partials/paginate') %> <hr>

<%- include('../partials/loginModal') %>

</div>

<div class="d-none d-lg-block col-3 offset-9 pt-3 position-fixed mh-100 scroll ps-5">
    <p class="text-muted small text-center"><strong>Click to Read</strong></p>
    <%- include('../partials/ad/bio') %>  
</div>

<div class="" style="margin-bottom: 100px;"></div>

<div class="d-lg-none col-md-9 offset-md-3 py-5 d-flex justify-content-center">    
    <div class="footer-item">
        <p class="text-muted small pt-2 text-center"><strong>Click to Read</strong></p>
        <%- include('../partials/ad/bio2') %>    
    </div>
</div>

<div class="col-lg-6 col-md-9 offset-md-3 py-5 d-flex justify-content-center">
    <div class="footer-item p-4">
        <p class="text-muted small pt-2 text-center"><strong>This will bless you</strong></p>
        <%- include('../partials/ad/book') %>
    </div>
</div>

<%- include('../partials/ad2') %>

<!-- <script src="/javascripts/get_story.js"></script> -->

<script>
    const pageTitle = "Articles";
</script>
