<% layout('layouts/boilerplate')%>

<div id="menu" class="col-md-3 menu d-md-block scroll">
    <a class="h5" href="/articles">Feature</a>
    <a class="h5" href="/articles/list">List</a>
    <ol>
        <li><a href="/articles/list">Index</a></li>
        <li><a href="/articles/categories">Category</a></li>
    </ol>
    <a href="">Actions</a>
    <ol>
        <li><a id="suggest" href="#!">Suggest a Topic</a></li>
        <li><a href="/articles/new">Post Article</a></li>
    </ol>
</div>

<div class="d-md-none mb-2" id="menuToggler">
    <button class="d-none btn btn-outline btn-info" id="fastDownButton"><i class="bi bi-chevron-double-down"></i></button>
    <button class=" btn btn-outline btn-info" id="fastUpButton"><i class="bi bi-chevron-double-up"></i></button>
</div>
<script src="/javascripts/toggleMenu.js"></script>

    
<div class="col-md-9 col-lg-6 offset-md-3">
    <% if(!article.isApproved) { %> 
        <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
            This article is yet to be approved! 
        </div>
    <% } %> 
    <div class="card bg px-3 mb-3">
        <h1 class="card-title title-1 text-center text-capitalize m-0"><%= article.name %></h1>    
        <div class="d-flex justify-content-center"><button id="share" class="btn btn-sm btn-light text-secondary border px-4"><em class="pe-2">Share</em><i class="bi bi-share-fill"></i></button></div>
        <% if (!article.image.link && article.image.key === 'none' && currentUser && (currentUser._id.equals(article.contributor) || currentUser.admin)) { %> 
            <p class="ms-auto me-auto me-sm-3 mb-0"><a href="/articles/<%= article._id %>/imageUpload">Add Article Image</a></p>
        <% } %> 
        <div class="card-body justify overflow-auto">        
            <% if (article.image.key !== 'none') { %> 
                <img style="max-width: 20rem;" class='card-img-top d-block ms-auto me-auto float-sm-end ps-3' src=<%= 'https://godinprintsdocuments.s3.amazonaws.com/' + article.image.key.replaceAll(" ", "+") %> alt="<%= article.name %> ">
            <% } else if (article.image.link) { %> 
                <img style="max-width: 20rem;" src="<%= article.image.link %>" alt="<%= article.name %>" class="card-img-top d-block ms-auto me-auto float-sm-end ps-3">
            <% } else { %>
                <img src="/assets/images/articles.jfif" alt="<%= article.name %>" class="card-img-top image-size d-block ms-auto me-auto float-sm-end ps-3">
            <% } %>           
            <span class="text ta lh-lg"><%- article.text %> </span>
            <p class="small text-muted mt-3 text-end"><em><%= article.source %> </em></p>
        </div>           
    </div>
</div>

<div class="review offset-md-3 col-md-9 col-lg-3 offset-lg-9 scroll p-5 p-lg-0 ps-lg-5">
    <% if (currentUser) { %> 
    <form action="/articles/<%= article._id %>/addReview" method="POST" novalidate class="validated-form">
        <div class="mb-3">
            <label class="form-label ms-2" for="review-text"><strong>Comment:</strong></label>
            <textarea class="form-control bg-transparent" id="review-text" name="review[text]" rows="3" required></textarea>
            <button class="btn-primary btn-sm d-block ms-auto py-0 px-2">Add</button>
        </div>
    </form>
    <% } else { %> 
    <div class="p-3 rounded-3 bg-secondary bg-gradient text-light text-center shadow"><small>LOG IN TO COMMENT</small></div>
    <% } %> 
    <% for(let review of article.reviews) { %>
    <div id="<%= review._id %>" class="card m-3 rounded-5">
        <div class="card-body p-0">
            <div class="review-box">
                <p class="review-text lh-sm small fs-6 m-2"><%= review.text %></p>
                <p class="card-title text-capitalize d-flex m-1">
                    <em class="text-muted small ms-auto fw-lighter"> - <%= review.author.firstName.toLowerCase() %> <%= review.author.lastName.toLowerCase() %></em>
                </p>
            </div>
            <div class="d-flex align-items-end small border-top m-1" style="opacity: 0.5;">
                <a id="l<%= review._id %>" class="lreview mx-1" href="javascript:;">👍🏻</a>
                <small class="me-auto"> <%= (review.likes.length > 0 ? review.likes.length : '') %> </small>
                <% if (review.author.equals(currentUser)) { %> 
                <a class="mx-3" href="/reviews/<%= review._id %>/edit">📝</a>
                <a id="d<%= review._id %>" class="<%= article._id %> dreview" href="javascript:;">✖</a>
                <% } %> 
            </div>
        </div>
    </div>
    <% } %>
</div>

<script>
    const pageTitle = "Articles";
</script>

<script>
    const shareData = {
        title: `<%= article.name %>`,
        text: `<%= article.text.slice(0,500) %>` + '...' + ' continue with article using the link provided',
        url: window.location.href
    }
    const shareBtn = document.querySelector('#share');
    shareBtn.addEventListener('click', async () => navigator.share(shareData))
</script>