<% layout('layouts/boilerplate')%>

<!-- <div id="cluster-map"></div> -->
<div id="menu" class="col-md-3 menu d-md-block scroll">
    <a href="/media/movies">Movies</a>
    <ol>
        <li><a href="/media/movies">Feature</a></li>
        <li><a class="active" href="/media/movies/playlists">Playlists</a></li>
    </ol>
    <a href="/media/music">Songs</a>
    <ol>
        <li><a href="/media/music/playlists">Playlists</a></li>
        <li><a href="/media/music/artists">Artists</a></li>
    </ol>
</div>

<div class="d-md-none mb-2" id="menuToggler">
    <button class="d-none btn btn-outline btn-info" id="fastDownButton"><i class="bi bi-chevron-double-down"></i></button>
    <button class=" btn btn-outline btn-info" id="fastUpButton"><i class="bi bi-chevron-double-up"></i></button>
</div>
<script src="/javascripts/toggleMenu.js"></script>

<style>
    .upgrade {
        border-radius: 5px;
        background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPO_1-e3gFQDpG6ziKGHKLlQdiJmp0sY8_tQ&usqp=CAU');
        background-size: contain;
    }
    .upgrade article {
        opacity: 0.9;
        background-color: white;
        color: gray;
        transition: all 0.3s ease;
    }
    .upgrade:hover article {
        background-color: gray;
        color: white;
    }
    article .play {
        opacity: 0;
        transition: opacity 0.3s;
    }
    article:hover .play {
        opacity: 0.7;
    }
    .list > li {
        height: 0px;
        padding-top: 0px;
        overflow: hidden;
    }
    .open .list > li:not(.d-none) {
        height: 105px;
        padding-top: 10px;
        overflow: visible;
    }
    .openBtn, .list > li {
        transition: all 0.3s ease;
    }
    .open .openBtn {
        transform: rotateZ(90deg);
    }
    .playlist {
        cursor: pointer;
    }
    .playlist h5 {
        vertical-align: middle;
    }
    .optionsList li:hover {
        background-color: #ccc;
    }
    /* .playlists-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('https://cdn.shopify.com/s/files/1/1294/2141/products/filmpettapeclassic_2400x.jpg?v=1630653031');
        background-size: contain;
        opacity: 0.1;
        z-index: 0;
    }
    body, div {
        position: relative;
        z-index: 1;
    } */
</style>
    
<!-- <div class="playlists-bg"></div> -->
<div class="col-md-9 col-lg-6 offset-md-3">
    <h1 class="p-4 text-center">Movies Playlists</h1>
    <% for( playlist of playlists ) { %>
            <section class="border-bottom border-2 pt-2 playlist">
            <div style="background: linear-gradient(50deg, #966F33, #C8A165, #5A3300);" class="text-light rounded-3 d-flex align-items-center p-2">
                <span class="h1 openBtn"><i class="bi bi-play-fill mx-auto my-auto"></i></span>
                <h5 class="m-0 ms-2"><%= playlist.name %> </h5>
                <div class="position-relative rounded-2 overflow-hidden ms-auto">
                    <% if (playlist.videos.length) { %>
                        <img src="<%= playlist.videos[0].snippet.thumbnails.default.url %> " alt="<%= playlist.name %> ">
                    <% } else { %>
                        <div style="width: 120px; height: 90px;" class="bg-light text-dark rounded-2 text-center d-flex justify-content-center align-items-center h6"><span><%= playlist.name == 'Watch Later' ? 'Add Movies to Watch Later' : 'Upgrade Account' %></span></div>
                    <% } %>
                    <div style="opacity: 0.8;" class="position-absolute top-0 end-0 w-50 h-100 d-flex flex-column justify-content-center align-items-center bg-dark text-light">
                        <span class="mb-2 items-count"><%= playlist.videos.length %> </span>
                        <span><i class="bi bi-list"></i></span>
                    </div>
                </div>
            </div>
            <ul class="list mb-2">
                <% if (playlist.name == 'Watch on Youtube') { %>
                    <li><a style="height: 90px;" class="border border-2 border-success rounded-3 bg-light text-success small d-flex justify-content-center align-items-center"><i class="bi bi-bookmark-star me-2 fw-bold"></i>You will be redirected to a Youtube page to view movies in this list!</a></li>
                <% } %>
                <% for( video of playlist.videos ) { %>
                    <li id="<%= video.id %> " class="movie">
                        <% const url = !currentUser && !video.embeddable ? '/login' : !video.embeddable ? `https://youtu.be/${video.id}` : `/media/movies/${video.id}/${video.snippet.title}` %> 
                        <a href="<%= url %>" target="<%= !video.embeddable && currentUser ? '_blank' : '' %>"><article class="rounded-3 bg-light border d-flex position-relative">
                            <div class="position-relative">            
                                <img class="rounded-start" src="<%= video.snippet.thumbnails.default.url %> " alt="<%= video.snippet.title %> ">
                                <span class="play rounded-start position-absolute top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center h1 bg-secondary text-light"><i class="bi bi-play-fill"></i></span>
                            </div>
                            <span class="px-2 d-flex flex-column justify-content-around">
                                <h6 class="small m-0 p-0 text-dark"><%= video.snippet.title.slice(0, 130) %> </h6>
                                <span class="text-muted small"><%= (video.duration.hours ? video.duration.hours + ":" : "") + video.duration.minutes + ":" + video.duration.seconds %><i class="bi bi-dot h5"></i><%= video.views %> views<em class="ps-2"><%= !video.availableInCountry ? `(This movie may not be allowed in your country - ${video.country || ''})` : '' %> </em></span>
                                <span class="position-absolute top-50 end-0 translate-middle-y play options">
                                    <i class="bi bi-three-dots-vertical h5 p-2"></i>
                                </span>
                                <ol style="z-index: 10;" class="optionsList d-none bg-light text-dark position-absolute top-50 end-0 border rounded-3 p-1 m-3">
                                    <li id="<%= video.id %>" class="p-2 later"><i class="bi bi-clock pe-2"></i><small><%= playlist.name == 'Watch Later' ? 'Remove from' : 'Save to' %> Watch Later</small></li>
                                </ol>
                            </span>
                        </article></a>
                    </li>
                <% } %>
                <% if (playlist.name == 'Watch Later') { %>
                    <li class="watcher d-none"><a href="/media/movies/playlists" style="height: 90px;" class="border border-2 rounded-3 bg-light text-secondary small d-flex justify-content-center align-items-center"><i class="bi bi-arrow-clockwise me-2 fw-bold"></i>New Movie(s) added. Refresh to update list!</a></li>
                <% } %>
            </ul>
        </section>
    <% } %>
    <% if (!currentUser || currentUser.subscription.status !== 'premium') { %>
        <a class="d-block mt-3 upgrade" href="/subscription"><article class="text-center border border-2 border-secondary rounded-3">
            <h3 class="p-3">Upgrade Account</h3>
            <h5 class="pb-3">to view <%- !currentUser || currentUser.subscription.status == 'classic' ? '600+ <em>premium</em>' : 'more' %> movies!</h5>
        </article></a>
    <% } %>
</div>
<div class="toast position-fixed bottom-0 start-0 m-3" style="z-index: 11" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="false">
    <div class="toast-header">
        <img src="/assets/images/burningBook.jfif" width="24px" class="rounded me-2" alt="God In Prints icon">
        <strong class="me-auto">GIP Library</strong>
        <!-- <small class="text-muted">11 mins ago</small> -->
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body text-secondary">
        Some movies may not be available in your country!</span>
    </div>
    <% if (currentUser && currentUser.subscription.status != 'premium') { %>
        <!-- <script>
            setTimeout(() => {
                const toast = new bootstrap.Toast(document.querySelector('.toast'))
                toast.show();
            }, 1000);
        </script> -->
    <% } %>
</div>

<div class="d-none d-lg-block col-3 offset-9 pt-3 position-fixed mh-100 scroll">
    <p class="text-muted small text-center"><strong>Check out our books</strong></p>
    <%- include('../partials/ad/book') %>  
</div>

<div class="" style="margin-bottom: 100px;"></div>

<div class="d-lg-none col-md-9 offset-md-3 py-5 d-flex justify-content-center">    
    <div class="footer-item">
        <p class="text-muted small pt-2 text-center"><strong>Check out our books</strong></p>
        <%- include('../partials/ad/book') %>    
    </div>
</div>

<%- include('../partials/ad2') %>

<script>
    const pageTitle = "Media";
</script>

<script>

    const playlists = document.querySelectorAll('.playlist');
    playlists.forEach(playlist => {
        playlist.querySelector('div').addEventListener('click', () => playlist.classList.toggle('open'));
    })

    const movies = document.querySelectorAll('.movie');
    const watchList = playlists[0].querySelector('.list');
    const options = [];

    movies.forEach(movie => {
        const later = movie.querySelector('.later');
        const option = movie.querySelector('.options');
        options.push(option);
        option.addEventListener('click', (e) => {
            e.preventDefault()
            later.parentElement.classList.toggle('d-none')
        })
        later.addEventListener('click', (e) => {
            e.preventDefault();
            later.parentElement.classList.add('d-none');
            const currentUser = JSON.parse('<%- JSON.stringify(currentUser) %>')
            if (!currentUser) return toaster('You need to log in first!')
            const url = `/media/movies/watchlater/${later.id}`;
            if ([...watchList.children].includes(movie)) {
                axios.delete(url).then((response) => {
                    toaster('Removed from Watch Later')
                    watchList.removeChild(movie);
                    watchList.parentElement.querySelector('.items-count').innerText = response.data;
                }).catch(error => {
                    console.log(error)
                    toaster('An error occured!')
                })
            } else {
                axios.post(url).then((response) => {
                    toaster('Added to Watch Later')
                    watchList.querySelector('.watcher').classList.remove('d-none');
                    watchList.parentElement.querySelector('.items-count').innerText = response.data;
                }).catch(error => {
                    console.log(error)
                    toaster('An error occured!')
                })
            }
        })
    })
    document.addEventListener('click', e => {
        if (![...options].includes(e.target.parentElement)) {
            document.querySelectorAll('.optionsList').forEach(list => list.classList.add('d-none'));
        }
    })
</script>

