<% layout('layouts/boilerplate')%>

<!-- <div id="cluster-map"></div> -->
<div id="menu" class="col-md-3 menu d-md-block scroll">
    <a href="/media/movies">Movies</a>
    <ol>
        <li><a href="/media/movies">Feature</a></li>
        <li><a href="/media/movies/playlists">Playlists</a></li>
    </ol>
    <a href="/media/music/playlists">Songs</a>
    <ol>
        <li><a href="/media/music/playlists">Playlists</a></li>
        <li><a class="active" href="/media/music/artists">Artists</a></li>
    </ol>
</div>

<div class="d-md-none mb-2" id="menuToggler">
    <button class="d-none btn btn-outline btn-info" id="fastDownButton"><i class="bi bi-chevron-double-down"></i></button>
    <button class=" btn btn-outline btn-info" id="fastUpButton"><i class="bi bi-chevron-double-up"></i></button>
</div>
<script src="/javascripts/toggleMenu.js"></script>

<style>
    .mic {
        display: none;
    }
    .playing .mic {
        display: block;
    }
    .artist {
        border-radius: 1.5rem 0 0 1.5rem;
    }
    .albums li {
        color: gray;
        background-color: white;
        border-radius: 1.5rem 0 0 1.5rem;
        transition: all 0.2s ease;
    }
    .albums li:hover {
        color: rgba(64, 64, 64, 1);
        background-color: rgba(64, 64, 64, 0.1);
    }

    .openbtn {
        width: 2rem;
        height: 2rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        border-radius: 50%;
        cursor: pointer;
    }
    .openbtn i {
        padding-bottom: 3px;
    }
    /* .open .openbtn i {
        padding-top: 2px;
        padding-bottom: 2px;
    } */
    section .openbtn {
        transform: rotateZ(0deg);
        transition: all 0.3s ease;
    }
    section.open .openbtn {
        transform: rotateZ(90deg);
    }
    section a {
        display: block;
        height: 0px;
        overflow: hidden;
        transition: height 0.3s ease;
    }
    section.open a {
        display: block;
        height: 45px;
        overflow: hidden;
    }
    /* .playlists-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('https://cdn.shopify.com/s/files/1/1294/2141/products/filmpettapeclassic_2400x.jpg?v=1630653031');
        background-size: contain;
        opacity: 0.1;
        z-index: 0;
    }
    body, div {
        position: relative;
        z-index: 1;
    } */
    .bg2 {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 50%;
    }
</style>
    
<!-- <div class="playlists-bg"></div> -->
<div class="col-md-9 col-lg-6 offset-md-3 <%= (currentUser == null || currentUser.subscription.status == 'classic') && 'invisible vh-100' %>">
    <h1 class="h3 p-3 text-center">Artists Albums</h1>
    
    <div class="row">
        <div style="height: 70vh; transform: translateX(0);" class="col-md-6 scroll mt-2">
            <% for( art of artists ) { %>
                <section class="<%= art.name == artist && 'open' %>">
                    <div class="artist bg-secondary bg-gradient text-light px-2 py-2 mb-2">
                        <span class="openbtn"><i class="bi bi-play-fill"></i></span>
                        <span class="p-2"><%= art.name %></span>
                    </div>
                    <ul class="ps-4 mb-0 albums">
                        <% for( alb of art.albums ) { %>
                            <a id="<%= alb.id %>" href="/media/music/artists?artist=<%= art.name %>&album=<%= alb.title %>&albumId=<%= alb.id %>"><li class="border small py-1 px-2 my-1 d-flex justify-content-between <%= alb.title == album && 'playing' %>"><span class="text-truncate"><i class="bi bi-dot h5"></i><%= alb.title %></span><span class="mic"><i class="bi bi-mic-fill"></i></span></li></a>
                        <% } %>
                    </ul>
                </section>
            <% } %>
        </div>
        <div id="scroll" style="height: 100px;" class="d-md-none"></div>
        <div class="col-md-6 d-flex justify-content-center pt-4 pt-md-2 pb-1 overflow-auto"> 
            <iframe style="height: 70vh;" src="https://www.boomplay.com/embed/<%= albumId %>/COL" frameborder="0"></iframe>
            <div class="bg2"></div>
        </div>
    </div>
</div>

<div class="d-lg-none" style="margin-bottom: 100px;"></div>

<div class="col-md-3 d-lg-none"></div>
<div class="offset-lg-9 col-md-9 col-lg-3 p-lg-0 m-lg-0 <%= (!currentUser || currentUser.subscription.status == 'classic') && 'invisible' %>">
    <div class="w-100 h-100 d-flex flex-column align-items-center">
        <%- include('../partials/trivia/puzzle') %>  
    </div>
</div>

<%- include('../partials/ad2') %>

<script>
    const pageTitle = "Media";
</script>

<script>

    const sections = document.querySelectorAll('section');
    sections.forEach(section => {
        section.querySelector('.openbtn').addEventListener('click', () => {
            sections.forEach(sec => sec != section && sec.classList.remove('open'))
            section.classList.toggle('open')
        });
    })

    const user = JSON.parse('<%- JSON.stringify(currentUser) %>');
    let mydiv = document.createElement('div');
    mydiv.innerHTML = "<span>Kindly <a href='/subscription'>subscribe</a> to use this service!</span>";
    (!user || user.subscription.status == 'classic') && swal('', '', 'error', {content: mydiv}).then(() => window.location.replace('/media/music/playlists'))
    
    const anchors = document.querySelectorAll('.albums a');
    const iframe = document.querySelector('iframe');
    anchors.forEach(anchor => anchor.addEventListener('click', e => {
        e.preventDefault();
        anchors.forEach(el => el.querySelector('li').classList.remove('playing'));
        anchor.querySelector('li').classList.add('playing');
        iframe.src = `https://www.boomplay.com/embed/${anchor.id}/COL`;
        window.innerWidth < 767.98 && document.getElementById('scroll').scrollIntoView()
    }))
    
</script>