<% layout('layouts/boilerplate')%>

<!-- <div id="cluster-map"></div> -->
<div id="menu" class="col-md-3 menu d-md-block scroll d-none">
    <a href="/media/movies">Movies</a>
    <ol>
        <li><a href="/media/movies">Feature</a></li>
        <li><a href="/media/movies/playlists">Playlists</a></li>
    </ol>
    <a href="/media/music">Songs</a>
    <ol>
        <li><a class="active" href="/media/music/playlists">Playlists</a></li>
        <li><a href="/media/music/artists">Artists</a></li>
    </ol>
</div>

<div class="d-md-none mb-2" id="menuToggler">
    <button id="fastDownButton">⏬</button>
    <button class="d-none" id="fastUpButton">⏫</button>
</div>
<script src="/javascripts/toggleMenu.js"></script>

<style>
    .h5.title {
        border-radius: 2rem 0 0 2rem;
    }
    .mic {
        display: none;
    }
    .playing .mic {
        display: block;
    }
    .playlists li {
        color: #ccc;
        border-radius: 1.5rem 0 0 1.5rem;
        width: 25%;
        margin-left: auto;
        overflow-x: auto;
        background-image: radial-gradient(rgba(37, 4, 9, 0.8), rgba(37, 4, 9, 0.7), rgba(37, 4, 9, 0.8));
        transition: all 0.2s ease;
    }
    .playlists li:hover {
        color: rgba(64, 64, 64, 1);
        transform: scale(1.05);
        background-image: radial-gradient(rgba(37, 4, 9, 0.4), rgba(37, 4, 9, 0.3), rgba(37, 4, 9, 0.4));
    }
    .playlists-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('https://cdn.shopify.com/s/files/1/1294/2141/products/filmpettapeclassic_2400x.jpg?v=1630653031');
        background-size: contain;
        opacity: 0.1;
        z-index: 0;
    }
    body, div {
        position: relative;
        z-index: 1;
    }
    .bg1 {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 85px;
    }
    .bg2 {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 40%;
    }
</style>

<div class="playlists-bg"></div>
<div class="col-md-9 col-lg-6 offset-md-3">
    <h1 class="h3 p-3 text-center d-none">Music Playlists</h1>
    <div class="title h5 bg-secondary bg-gradient text-light py-3 px-2 my-2"><i class="bi bi-music-note-list rounded-circle bg-dark p-2 px-3 ms-1 me-2 small"></i>Playlists</div>
    <div class="row">
        <ul style="height: 60vh; transform: translateX(0);" class="col-md-6 px-4 pt-0 mt-3 pe-md-1 playlists scroll">
            <% for( playlist of playlists ) { %>
                <a href="/media/music/playlists?list=<%= playlist.id %>"><li class="pb-1 px-2 mb-3 d-flex justify-content-between align-items-center <%= (list == playlist.id) && 'playing' %>"><small><i class="bi bi-dot h5"></i><%= playlist.title %> </small><span class="mic"><i class="bi bi-mic-fill"></i></span></li></a>
            <% } %>
        </ul>
        <div class="col-md-6 d-flex justify-content-center mt-3 position-relative overflow-hidden"> 
            <iframe style="transform: translateY(-120px); height: calc(60vh + 120px);" src="https://www.boomplay.com/embed/<%= list %>/COL" frameborder="0"></iframe>
            <div class="bg1"></div>
            <div class="bg2"></div>
        </div>
    </div>
</div>

<div class="d-lg-none" style="margin-bottom: 100px;"></div>

<div class="col-md-3 d-lg-none"></div>
<div class="offset-lg-9 col-md-9 col-lg-3 p-lg-0 m-lg-0">
    <div class="w-100 h-100 d-flex flex-column align-items-center">
        <%- include('../partials/trivia/puzzle') %>  
    </div>
</div>

<script>
    const pageTitle = "Media";
</script>

<script>
    document.querySelectorAll('.playlists li').forEach((el, index) => {
        setTimeout(() => {
            el.style.width = '100%';
        }, index * 50);
    });
</script>