<% layout('layouts/boilerplate')%>

<div id="menu" class="col-md-3 menu d-md-block scroll">
    <a class="h5" href="/bible">Cover Page</a>
    <a class="h5 active" href="bible/chapter?chapter=jhn.3">Passage</a>
    <form action="/bible/chapter" id="chapterForm" method="get">
        <div class="container m-0 p-0">
            <select class="menu-list p-2 search-area " name="book" id="book"></select>
            <select class="menu-list p-2 search-area " name="chapter" id="chapter"></select>
        </div>
    </form>
    <a href="">Version</a>
    <div class="container m-0 p-0">
        <select form="chapterForm" class="menu-list p-2 search-area " name="version" id="version">
            <option value="de4e12af7f28f599-02">King James</option>
            <option value="06125adad2d5898a-01">American Standard</option>
            <option value="9879dbb7cfe39e4d-04">World English</option>
        </select>
    </div>
</div>

<div class="d-md-none mb-2" id="menuToggler">
    <button class="d-none btn btn-outline btn-info" id="fastDownButton"><i class="bi bi-chevron-double-down"></i></button>
    <button class=" btn btn-outline btn-info" id="fastUpButton"><i class="bi bi-chevron-double-up"></i></button>
</div>
<script src="/javascripts/toggleMenu.js"></script>
            
<div class="col-md-9 col-lg-6 offset-md-3 overflow-auto text-center">
    <div class="subheadings">
        <h1 id="viewing" class="pt-3 text-decoration-underline"><%= data.reference %> </h1>
    </div>
    <div class="eb-container justify p-3" id="chapter-text">
        <%- data.content %>
    </div>
</div>

<div class="review offset-md-3 col-md-9 col-lg-3 offset-lg-9 scroll p-5 p-lg-0 ps-lg-5">
    <% if (currentUser) { %> 
    <form action="/addReview/<%= data.id %>/<%= data.bibleId %>" method="POST" novalidate class="validated-form">
        <div class="mb-3">
            <label class="form-label ms-2" for="review-text"><strong>Note:</strong></label>
            <textarea class="form-control bg-transparent" id="review-text" name="review[text]" rows="3" required></textarea>
            <div class="d-flex">
                <em class="small text-white">Notes are private</em>
                <button class="btn-primary btn-sm ms-auto py-0 px-2">Add</button>
            </div>
        </div>
    </form>
    <% } else { %> 
    <div class="p-3 bg-secondary bg-gradient text-center text-light rounded-3 shadow"><small>LOG IN TO SAVE NOTES</small></div>
    <% } %> 
    <% for(let review of reviews) { %>
    <div id="<%= review._id %>" class="card m-3 rounded-5">
        <div class="card-body p-0">
            <div class="review-box">
                <p class="review-text lh-sm small fs-6 m-2"><%= review.text %></p>
            </div>
            <div class="d-flex align-items-end small m-1" style="opacity: 0.5;">
                <a class="ms-auto me-3" href="/reviews/<%= review._id %>/edit">📝</a>
                <a id="d<%= review._id %>" class="<%= currentUser._id %> dreview" href="javascript:;">✖</a>
            </div>
        </div>
    </div>
    <% } %>
</div>

<script>
    const activeBook = '<%= (data.bookId.toLowerCase()) %>';
    const activeChapter = '<%= (data.id.toLowerCase()) %>';
</script>

<script src="/javascripts/bibleData/bible_chapters_data.js"></script>

<script>
    let route; let xhttp; const idLength ={};
</script>

<script>
    idLength['<%= currentUser && currentUser._id %>'] = 1000;
</script>

<script>
    const pageTitle = "Bible";
</script>