<% layout('layouts/boilerplate')%>

<div id="menu" class="col-md-3 menu d-md-block scroll">
    <a href="/bible">Planner</a>
    <ol id="dailyPlans"></ol>
    <a class="active" href="bible/chapter?chapter=jhn.3">Passage</a>
    <form action="/bible/chapter" id="chapterForm" method="get">
        <div class=" m-0 p-0">
            <select class="menu-list p-2 search-area w-100" name="book" id="book"></select>
            <select class="menu-list p-2 search-area w-100" name="chapter" id="chapter"></select>
        </div>
    </form>
    <a href="">Version</a>
    <div class=" m-0 p-0">
        <select form="chapterForm" class="menu-list p-2 search-area w-100" name="version" id="version">
            <option value="de4e12af7f28f599-02">King James</option>
            <option value="06125adad2d5898a-01">American Standard</option>
            <option value="9879dbb7cfe39e4d-04">World English</option>
        </select>
    </div>
</div>

<div class="d-md-none mb-2" id="menuToggler">
    <button class="d-none btn btn-outline btn-info" id="fastDownButton"><i class="bi bi-chevron-double-down"></i></button>
    <button class=" btn btn-outline btn-info" id="fastUpButton"><i class="bi bi-chevron-double-up"></i></button>
</div>
<script src="/javascripts/toggleMenu.js"></script>

<style>
    .highlighted {
        background-color: #ccc;
    }
    .eb-container {
        cursor: default;
    }
</style>
            
<div id="highlightBar" style="z-index: 10000; background: rgba(33, 37, 41, 0.7);" class="d-none position-fixed border border-3 col-md-9 col-lg-6 offset-md-3 d-flex justify-content-between p-0">
    <div>
        <button id="shareVerses" class="btn btn-outline text-light"><i class="bi bi-share-fill"></i></button>
    </div>
    <div id="highlightColors" class="w-75 d-flex justify-content-center align-items-center gap-2 m-1">
        <button style="background: rgba(255, 69, 0, 0.5);" class="btn btn-outline border border-2 w-10 h-100"></button>
        <button style="background: rgba(255, 255, 0, 0.5);" class="btn btn-outline border border-2 w-10 h-100"></button>
        <button style="background: transparent;" class="btn btn-outline border border-2 w-10 h-100"></button>
        <button style="background: rgba(0, 128, 0, 0.5);" class="btn btn-outline border border-2 w-10 h-100"></button>
        <button style="background: rgba(0, 0, 255, 0.5);" class="btn btn-outline border border-2 w-10 h-100"></button>
        <input id="color" type="color" style="visibility: collapse; width: 0;">
        <label for="color" style="background: linear-gradient(to right, red, orange,yellow,green,blue,indigo,violet);" class="btn btn-outline border border-2 w-10 h-100"></label>
    </div>
    <div class="me-0">
        <button id="closeHighlight" class="btn btn-outline"><i class="bi bi-x-circle text-light"></i></button>
    </div>
</div>
<div class="col-md-9 col-lg-6 offset-md-3 overflow-auto text-center position-relative">
    <div class="subheadings">
        <h1 id="viewing" class="p-3 text-decoration-underline"><%= data.reference %></h1>
        <span class="d-flex justify-content-between align-items-center p-3">
            <a class="prev btn btn-outline-secondary fs-5 w-25"></a>
            <button id="share" class="btn btn-outline"><i class="bi bi-share-fill"></i></button>
            <a class="next btn btn-outline-secondary fs-5 w-25"></a>
        </span>
    </div>
    <div style="z-index: 10000;" class="position-fixed bottom-0 start-50 translate-middle-x">
        <audio src="" controls></audio>
    </div>
    <div class="eb-container justify p-3 position-relative" id="chapter-text">
        <%- data.content %>
    </div>
    <div class="d-flex justify-content-center gap-3 m-3">
        <a class="prev btn btn-info fs-5 w-25"></a>
        <a class="next btn btn-info fs-5 w-25"></a>
    </div>
</div>

<div class="review offset-md-3 col-md-9 col-lg-3 offset-lg-9 scroll p-5 p-lg-0 ps-lg-5">
    <% if (currentUser) { %> 
    <form action="/addReview/<%= data.id %>/<%= data.bibleId %>" method="POST" novalidate class="validated-form">
        <div class="mb-3">
            <label class="form-label ms-2" for="review-text"><strong>Note:</strong></label>
            <textarea class="form-control bg-transparent" id="review-text" name="review[text]" rows="3" required></textarea>
            <div class="d-flex">
                <em class="small text-white">Notes are private</em>
                <button class="btn btn-primary btn-sm ms-auto py-0 px-2"><span>SAVE</span></button>
            </div>
        </div>
    </form>
    <% } else { %> 
    <div class="p-3 bg-secondary bg-gradient text-center text-light rounded-3 shadow"><small>LOG IN TO SAVE NOTES</small></div>
    <% } %> 
    <% for(let review of reviews) { %>
    <div id="<%= review._id %>" class="card m-3 rounded-5">
        <div class="card-body p-0">
            <div class="review-box">
                <p class=" lh-sm small fs-6 m-2"><%= review.text %></p>
            </div>
            <div class="d-flex align-items-end small m-1" style="opacity: 0.5;">
                <a class="ms-auto me-3" href="/reviews/<%= review._id %>/edit"><i class="bi bi-pencil-fill text-primary"></i></a>
                <a id="d<%= review._id %>" class="<%= currentUser._id %> dreview" href="javascript:;"><i class="bi bi-trash-fill text-danger"></i></a>
            </div>
        </div>
    </div>
    <% } %>
</div>

<script>
    const activeBook = '<%= (data.bookId.toLowerCase()) %>';
    const activeChapter = '<%= (data.id.toLowerCase()) %>';

    const shareData = {
        title: `<%= data.reference %>`,
        text: `<%= data.content.replace(/<[^>]*>/g, " ").slice(0,1000) %>...` + '\n\n use the link provided to read passage. \n',
        url: window.location.href
    }
    const shareBtn = document.querySelector('#share');
    shareBtn.addEventListener('click', () => navigator.share(shareData))

</script>

<script src="/javascripts/bibleData/bible_chapters_data.js"></script>

<script>
    const pageTitle = "Bible";
</script>