<% layout('layouts/boilerplate') %> 

<div id="menu" class="col-md-3 menu d-md-block scroll">
    <ol>
        <li><a href="/profile">Profile Info</a></li>
        <li><a class="active" href="/subscription">Subscription</a></li>
    </ol>
</div>

<div class="d-md-none mb-2" id="menuToggler">
    <button class="d-none btn btn-outline btn-info" id="fastDownButton"><i class="bi bi-chevron-double-down"></i></button>
    <button class=" btn btn-outline btn-info" id="fastUpButton"><i class="bi bi-chevron-double-up"></i></button>
</div>
<script src="/javascripts/toggleMenu.js"></script>

<style>
    .form-check-input:checked {
        background: green;
    }
</style>

<% const status = currentUser ? currentUser.subscription.status : 'classic' %> 

<div class="col-md-9 col-lg-6 offset-md-3 mb-5">
    <!-- <h6 class="d-flex justify-content-center align-items-end my-5"><i class="bi bi-lock-fill me-2"></i><span>Secured</span></h6> -->
    <div style="gap: 48px;" class="d-flex justify-content-center flex-wrap">
        <div class="card subscription disabled p-3">
            <div class="border pt-3 pb-3 mb-3 rounded-pill d-flex flex-column align-items-center text-secondary">
                <h3 class="p-3 text-primary text-capitalize"><%= Object.keys(limits.books)[0] %> </h3>
                <span class="text-decoration-underline pb-2">Features</span>
                <ul class="small text-dark m-0 p-3">
                    <li class="mb-2"><i class="bi bi-check2 text-primary"></i> Access feature materials.</li>
                    <li class="mb-2"><i class="bi bi-check2 text-primary"></i> Access entire documents list.</li>
                    <li class="mb-2"><i class="bi bi-dash text-primary"></i> <%= limits.books[Object.keys(limits.books)[0]] %> book downloads per month.</li>
                    <!-- <li class="mb-2"><i class="bi bi-dash text-primary"></i> Songs playlists.</li> -->
                    <li class="mb-2"><i class="bi bi-dash text-primary"></i> <%= limits.videos[Object.keys(limits.books)[0]] + Math.floor(limits.videos[Object.keys(limits.books)[0]] * numVideos / 100) %> Movies <i>(Updated monthly)</i></li>
                </ul>
                <small class="pb-2"><i class="text-capitalize"><%= limits.prices[Object.keys(limits.books)[0]] %></i></small><small>indefinite</small>
            </div>
            <div class="form-check d-flex justify-content-around mb-2 d-none">
                <span><input class="form-check-input" type="radio" id="usd_free" name="free_curr" value="usd" disabled>
                <label class="form-check-label" for="usd_free">USD</label></span>
                <span><input class="form-check-input" type="radio" id="ngn_free" name="free_curr" value="ngn" disabled>
                <label class="form-check-label" for="ngn_free">NGN</label></span>
            </div>
            <a href="#!" class="btn btn-success w-100 disabled">
                DEFAULT
                <i class="<%= status === Object.keys(limits.books)[0] ? 'bi bi-check2' : '' %> "></i>
            </a>
        </div>
        <div class="card subscription <%= Object.keys(limits.books).slice(1).includes(status) ? 'disabled' : '' %>  p-3">
            <div class="border pt-3 pb-3 mb-3 rounded-pill d-flex flex-column align-items-center text-secondary">
                <h3 class="p-3 text-primary text-capitalize"><%= Object.keys(limits.books)[1] %> </h3>
                <span class="text-decoration-underline pb-2">Features</span>
                <ul class="small text-dark m-0 p-3">
                    <li class="mb-2"><i class="bi bi-check2 text-primary"></i> Access feature materials.</li>
                    <li class="mb-2"><i class="bi bi-check2 text-primary"></i> Access entire documents list.</li>
                    <li class="mb-2"><i class="bi bi-check2 text-primary"></i> <%= limits.books[Object.keys(limits.books)[1]] %> book downloads per month.</li>
                    <!-- <li class="mb-2"><i class="bi bi-check2 text-primary"></i> Songs albums and playlists.</li> -->
                    <li class="mb-2"><i class="bi bi-dash text-primary"></i> <%= limits.videos[Object.keys(limits.books)[1]] + Math.floor(limits.videos[Object.keys(limits.books)[1]] * numVideos / 100) %> Movies <i>(Updated monthly)</i></li>
                </ul>
                <small class="pb-2">
                    <i style="text-decoration: line-through double">N</i>
                    <i><%= limits.prices[Object.keys(limits.books)[1]] %> | $<%= limits.prices_usd[Object.keys(limits.books)[1]] %></i>
                </small>
                <small><%= limits.prices.duration %></small>
            </div>
            <div class="form-check d-flex justify-content-around mb-2 d-none">
                <span><input class="form-check-input" type="radio" id="usd_starter" name="starter_curr" value="usd">
                <label class="form-check-label" for="usd_starter">USD</label></span>
                <span><input class="form-check-input" type="radio" id="ngn_starter" name="starter_curr" value="ngn" checked>
                <label class="form-check-label" for="ngn_starter">NGN</label></span>
            </div>
            <a href="#!" id="starterButton" class="btn btn-success w-100 <%= Object.keys(limits.books).slice(1).includes(status) ? 'disabled' : '' %>">
                <%= status === Object.keys(limits.books)[1] ? 'SUBSCRIBED ' : 'SUBSCRIBE' %> 
                <i class="<%= status === Object.keys(limits.books)[1] ? 'bi bi-check2' : '' %> "></i>
            </a>
        </div>
        <div class="card subscription <%= Object.keys(limits.books).slice(2).includes(status) ? 'disabled' : '' %>  p-3">
            <div class="border pt-3 pb-3 mb-3 rounded-pill d-flex flex-column align-items-center text-secondary">
                <h3 class="p-3 text-primary text-capitalize"><%= Object.keys(limits.books)[2] %> </h3>
                <span class="text-decoration-underline pb-2">Features</span>
                <ul class="small text-dark m-0 p-3">
                    <li class="mb-2"><i class="bi bi-check2 text-primary"></i> Access feature materials.</li>
                    <li class="mb-2"><i class="bi bi-check2 text-primary"></i> Access entire documents list.</li>
                    <li class="mb-2"><i class="bi bi-check2 text-primary"></i> <%= limits.books[Object.keys(limits.books)[2]] %> book downloads per month.</li>
                    <!-- <li class="mb-2"><i class="bi bi-check2 text-primary"></i> Songs albums and playlists.</li> -->
                    <li class="mb-2"><i class="bi bi-dash text-primary"></i> <%= limits.videos[Object.keys(limits.books)[2]] + Math.floor(limits.videos[Object.keys(limits.books)[2]] * numVideos / 100) %> Movies <i>(Updated monthly)</i></li>
                </ul>
                <small class="pb-2">
                    <i style="text-decoration: line-through double">N</i>
                    <i><%= limits.prices[Object.keys(limits.books)[2]] %> | $<%= limits.prices_usd[Object.keys(limits.books)[2]] %></i>
                </small>
                <small><%= limits.prices.duration %></small>
            </div>
            <div class="form-check d-flex justify-content-around mb-2 d-none">
                <span><input class="form-check-input" type="radio" id="usd_medium" name="medium_curr" value="usd">
                <label class="form-check-label" for="usd_medium">USD</label></span>
                <span><input class="form-check-input" type="radio" id="ngn_medium" name="medium_curr" value="ngn" checked>
                <label class="form-check-label" for="ngn_medium">NGN</label></span>
            </div>
            <a href="#!" id="mediumButton" class="btn btn-success w-100 <%= Object.keys(limits.books).slice(2).includes(status) ? 'disabled' : '' %>">
                <%= status === Object.keys(limits.books)[2] ? 'SUBSCRIBED ' : Object.keys(limits.books).slice(1,2).includes(status) ? 'UPGRADE' : 'SUBSCRIBE' %> 
                <i class="<%= status === Object.keys(limits.books)[2] ? 'bi bi-check2' : '' %> "></i>
            </a>
        </div>
        <div class="card subscription <%= Object.keys(limits.books).slice(3).includes(status) ? 'disabled' : '' %>  p-3">
            <div class="border pt-3 pb-3 mb-3 rounded-pill d-flex flex-column align-items-center text-secondary">
                <h3 class="p-3 text-primary text-capitalize"><%= Object.keys(limits.books)[3] %> </h3>
                <span class="text-decoration-underline pb-2">Features</span>
                <ul class="small text-dark m-0 p-3">
                    <li class="mb-2"><i class="bi bi-check2 text-primary"></i> Access feature materials.</li>
                    <li class="mb-2"><i class="bi bi-check2 text-primary"></i> Access entire documents list.</li>
                    <li class="mb-2"><i class="bi bi-check2 text-primary"></i> <%= limits.books[Object.keys(limits.books)[3]] %> book downloads per month.</li>
                    <!-- <li class="mb-2"><i class="bi bi-check2 text-primary"></i> Songs albums and playlists.</li> -->
                    <li class="mb-2"><i class="bi bi-check2 text-primary"></i> <%= 55 + Math.ceil(limits.videos[Object.keys(limits.books)[3]] * numVideos / 100) %> Movies <i>(Updated monthly)</i></li>
                </ul>
                <small id="ticketTop" class="pb-2">
                    <i style="text-decoration: line-through double">N</i>
                    <i><%= limits.prices[Object.keys(limits.books)[3]] %> | $<%= limits.prices_usd[Object.keys(limits.books)[3]] %></i>
                </small>
                <small><%= limits.prices.duration %></small>
            </div>
            <div class="form-check d-flex justify-content-around mb-2 d-none">
                <span><input class="form-check-input" type="radio" id="usd_premium" name="premium_curr" value="usd">
                <label class="form-check-label" for="usd_premium">USD</label></span>
                <span><input class="form-check-input" type="radio" id="ngn_premium" name="premium_curr" value="ngn" checked>
                <label class="form-check-label" for="ngn_premium">NGN</label></span>
            </div>
            <a href="#!" id="premiumButton" class="btn btn-success w-100 <%= Object.keys(limits.books).slice(3).includes(status) ? 'disabled' : '' %>">
                <%= Object.keys(limits.books).slice(3).includes(status) ? 'SUBSCRIBED ' : Object.keys(limits.books).slice(1,3).includes(status) ? 'UPGRADE' : 'SUBSCRIBE' %> 
                <i class="<%= Object.keys(limits.books).slice(3).includes(status) ? 'bi bi-check2' : '' %> "></i>
            </a>
        </div>
    </div>

    <div class="flex justify-content-center my-5">
        <div class="border border-2 border-secondary my-5 p-3" style="width: 300px; max-width: 90%;">
            <h6 class="text-center">Buy book ticket.</h6>
            <em class="small">Tickets are used for a single book download.</em><br>
            <em class="small d-block text-end">
                Price: <span style="text-decoration: line-through double">N</span>
                <%= limits.prices.ticket %>
            </em>
            <button id="ticketBtn" class="btn btn-primary w-100">Get Ticket</button>
        </div>
    </div>

    <h6 class="text-secondary text-center">Want more access? <a href="/#contact">Send a message.</a></h6>
</div>


<script>
    const pageTitle = "Profile";
</script>

<script>

    const starter = 'PLN_dfjawf7e7k2w043' // '';
    const medium = 'PLN_11goi761rd5njlg' //  '';
    const premium = 'PLN_dhyh9vxrdgpc1yw' // '';
    // const platinum = 'PLN_vv0s6d9ctjfyqh1';
    const starter_usd = {code: 127205, price: '<%= limits.prices_usd[Object.keys(limits.books)[1]] %>', obj: {status: 'starter', curr: 'usd'}};
    const medium_usd = {code: 127206, price: '<%= limits.prices_usd[Object.keys(limits.books)[2]] %>', obj: {status: 'medium', curr: 'usd'}};
    const premium_usd = {code: 127207, price: '<%= limits.prices_usd[Object.keys(limits.books)[3]] %>', obj: {status: 'premium', curr: 'usd'}};

    document.getElementById('starterButton').addEventListener('click', () => document.querySelector('input[name="starter_curr"]:checked').value == 'ngn' ? subscribe(starter) : subscribe_flw(starter_usd));
    document.getElementById('mediumButton').addEventListener('click', () => document.querySelector('input[name="medium_curr"]:checked').value == 'ngn' ? subscribe(medium) : subscribe_flw(medium_usd));
    document.getElementById('premiumButton').addEventListener('click', () => document.querySelector('input[name="premium_curr"]:checked').value == 'ngn' ? subscribe(premium) : subscribe_flw(premium_usd));
    // document.getElementById('platinumButton').addEventListener('click', () => subscribe(platinum));

    function subscribe_flw(type) {
        const modal = FlutterwaveCheckout({
            public_key: "FLWPUBK-aba052da16eafbefc3715c2ea9549a4e-X",
            tx_ref: `gip-sub-${Date.now()}`,
            payment_plan: type.code,
            amount: type.price,
            currency: "USD",
            // redirect_url: "https://glaciers.titanic.com/handle-flutterwave-payment",
            customer: {
                email: "<%= currentUser.email %>",
            },
            customizations: {
                title: "GIP Library",
                description: "Subcription Payment",
                logo: "https://godinprints.org/assets/images/burningBook.jfif",
            },
            callback: function(payment) {
                swal('Subscription initiated successfully. Please wait...', {
                    buttons: false,
                    closeOnClickOutside: false,
                });
                axios.post(`/subscription/${payment.transaction_id}`, {subscription: type.obj}).then(() => {
                    if ('<%= currentUser.subscription.code %>' != '') axios.delete('/subscription/<%= currentUser.subscription.code %>');
                    location.reload()}
                ).catch(() => swal('Could not validate transaction. Please contact admin on gipteam@hotmail.com!'))
                modal.close();
            },
            onClose: () => {
                console.log('closed');
            }
        });
    }

     function subscribe(type) {
        var handler = PaystackPop.setup({
          key: 'pk_live_26a7c0ce088e192d0b52e6adf9e83cecea301547', // 
          email: '<%= currentUser.email %>',
          plan: type,
          callback: function(response) {
            if ('<%= currentUser.subscription.code %>' != '') {
                axios.delete('/subscription/<%= currentUser.subscription.code %>')
            }
            if ('<%= currentUser.subscription.curr %>' == 'usd') {
                axios.delete('/subscription_usd')
            }
            swal('Subscription initiated successfully. Please wait...', {
                buttons: false,
                closeOnClickOutside: false,
            });
            setTimeout(() => {
                location.reload();
            }, 5000);
          },
          onClose: function() {
            console.log('closed')
          },
        });
        handler.openIframe();
      }

      document.getElementById('ticketBtn').addEventListener('click', getTicket, false);
      function getTicket() {
        var handler = PaystackPop.setup({
          key: 'pk_live_26a7c0ce088e192d0b52e6adf9e83cecea301547', // Replace with your public key
          email: "<%= currentUser.email %>",
          amount: Number('<%= limits.prices.ticket %>') * 100, // the amount value is multiplied by 100 to convert to the lowest currency unit
          currency: 'NGN', // Use GHS for Ghana Cedis or USD for US Dollars
          callback: function(res) {
            // Make an AJAX call to your server with the reference to verify the transaction
            axios.get(`/bookTicket/${res.reference}`).then(function(response) {
                swal('Ticket Id:', response.data, {closeOnClickOutside: false});
            }).catch(function(error) {
                swal('', 'Could not generate ticket. Please contact gipteam@hotmail.com.', 'error')
            })
          },
          onClose: function() {
            console.log('closed')
          },
        });
        handler.openIframe();
      }
</script>