<% layout('layouts/boilerplate')%>

<div id="menu" class="col-md-3 menu d-none d-md-block scroll">
    <a class="h5" href="/biographies/">Feature</a>
    <a class="h5 active" href="/biographies/list">List</a>
    <ol>
        <li><a href="/biographies/list?q=alpha">Index</a></li>
        <li><a href="/biographies/list?q=birth">Birth Year</a></li>
        <li><a href="/biographies/list?q=role">Role/Ministry</a></li>
    </ol>
    <a href="">Actions</a>
    <ol>
        <li><a id="suggest" href="#!">Suggest a Person</a></li>
        <li><a href="/biographies/new">Post Biography</a></li>
    </ol>
</div>

<div class="d-md-none mb-2" id="menuToggler">
    <button id="fastDownButton">⏬</button>
    <button class="d-none" id="fastUpButton">⏫</button>
</div>
<script src="/javascripts/toggleMenu.js"></script>

<div class="col-md-9 col-lg-6 offset-md-3 position-relative">
    <h3 class="text-center m-3"><%= category %> </h3>
    <% const len = biographies.length < 10 ? biographies.length : 10; %> 
    <script> let route; let xhttp; const idLength = {}; </script>
    <% for (i = 0; i < len; i++) { %> 
        <div class="card rounded-pill mb-3">
            <div class="row">
                <% if (biographies[i]) { %> 
                <div class="col-4 col-lg-3 d-flex align-content-center">
                    <% if (biographies[i].image.key === 'none') { %> 
                        <img class="card-img-top rounded-circle img-thumbnail m-3" src="/assets/images/<%= biographies[i].gender %>.png" alt="" > <p></p>
                    <% } else { %> 
                        <img class='card-img-top rounded-circle img-thumbnail m-3' src=<%= 'https://godinprintsdocuments.s3.amazonaws.com/' + biographies[i].image.key.replaceAll(" ", "+") %> alt="">
                        <% } %> 
                </div>
                <div class="col-8 p-4">
                    <a class="stretched-link text-decoration-none" href="/biographies/<%= biographies[i]._id %> "><h5 class="card-title"><%= biographies[i].name %>&nbsp;&nbsp;<span class="fs-6 fst-italic text-dark">(<%= biographies[i].role %>)</span></h5></a>
                    <p class="text-muted"> (<%= biographies[i].birthYear %> - <%= biographies[i].deathYear %>)  </p>
                    <small id="<%= biographies[i]._id %>" class="card-text"><span class="text-muted">Loading text...</span></small><br>

                    <script>idLength['<%= (biographies[i]._id) %>'] = 120;</script>
                </div>
                <% } %> 
            </div>
        </div>
    <% } %> 

    <%- include('../partials/paginate') %> <hr>

    <%- include('../partials/loginModal') %>

</div>

<div class="d-none d-lg-block col-3 offset-9 pt-3 position-fixed mh-100 scroll">
    <p class="text-muted small text-center"><strong>Have a look 👇</strong></p>
    <%- include('../partials/ad/book') %>  
</div>

<div class="" style="margin-bottom: 100px;"></div>

<div class="d-lg-none col-md-9 offset-md-3 py-5 d-flex justify-content-center">    
    <div class="footer-item">
        <p class="text-muted small pt-2 text-center"><strong>Have a look 👇</strong></p>
        <%- include('../partials/ad/book') %>    
    </div>
</div>

<div class="col-lg-6 col-md-9 offset-md-3 py-5 d-flex justify-content-center">
    <div class="footer-item p-4">
        <p class="text-muted small pt-2 text-center"><strong>Short Piece for You</strong></p>
        <%- include('../partials/ad/art') %>
    </div>
</div>

<%- include('../partials/ad2') %>

<script>
    const pageTitle = "Biographies";
</script>

<!-- <script src="/javascripts/get_story.js"></script> -->