<% layout('layouts/boilerplate')%>

<div id="menu" class="col-md-3 col-lg-2 menu d-md-block scroll">
    <a class="h5" href="/biographies">Feature</a>
    <a class="h5" href="/biographies/list">List</a>
    <ol>
        <li><a href="/biographies/list">Index</a></li>
        <li><a href="/biographies/list">Birth Year</a></li>
        <li><a href="/biographies/list">Role/Ministry</a></li>
    </ol>
    <a href="/biographies/new">Add Biography</a>
</div>

<div class="d-md-none mb-2" id="menuToggler">
    <button class="d-none" id="fastDownButton">⏬</button>
    <button id="fastUpButton">⏫</button>
</div>
<script src="/javascripts/toggleMenu.js"></script>

<script> let route; let xhttp; const idLength = {};</script>
<div class="offset-md-3 offset-lg-2 col-md-3 col-lg-2 card text-center">
    <% if (biography.image.key === 'none') { %> 
        <img src="/assets/images/<%= biography.gender %>.png" alt="" class="img-fluid img-size"> <p></p>
        <p class="ms-auto me-auto"><a href="/biographies/<%= biography._id %>/imageUpload">Upload Picture for Biography</a></p>
    <% } else { %> 
        <img class='card-img-top rounded-circle img-thumbnail image-size' src=<%= 'https://godinprintsdocuments.s3.amazonaws.com/' + biography.image.key.replaceAll(" ", "+") %> alt="">
        <script>imgIds.push('<%= biography._id %>-img');</script>
    <% } %> 
    <div class="card-body p-1">
        <h5 class="card-title"></h5>
        <p class="card-text text-muted"> </p>
        <p> </p>
        <ul class="list-group list-group-flush">
            <li class="h3 list-group-item"><%= biography.name %></li>
            <li class="list-group-item text-muted"><%= biography.role %></li>
            <li class="list-group-item">(<%= biography.birthYear %> - <%= biography.deathYear %>)</li>
        </ul>
    </div>
</div>
<div class="col-md-6 col-lg-5 card bg p-1">
    <div class="card-body">
        <% const title = biography.gender === 'female' ? 'Her Story' : 'His Story' %> 
        <h1 class="card-title text-center title-1 display-3"><%= title %> </h3>
        <p id="<%= biography._id %>" class="card-text lh-lg small text ta justify"><span class="text-muted ps-auto pe-auto my-5">Loading...</span></p>
        <p class="small text-muted mt-3 text-end"><em><%= biography.source %> </em></p>
        <script>idLength['<%= (biography._id) %>'] = 0;</script>
        <!-- <script src="/javascripts/get_story.js"></script> -->
    </div>           
</div>

<div class="review offset-md-3 col-md-9 col-lg-3 offset-lg-9 scroll p-5 p-lg-0 ps-lg-5">
    <% if (currentUser) { %> 
    <form action="/biographies/<%= biography._id %>/addReview" method="POST" novalidate class="validated-form">
        <div class="mb-3">
            <label class="form-label ms-2" for="text"><strong>Comment:</strong></label>
            <textarea class="form-control bg-transparent" id="text" name="review[text]" rows="3" required></textarea>
            <button class="btn-primary btn-sm d-block ms-auto py-0 px-2">Add</button>
        </div>
    </form>
    <% } else { %> 
    <div class="p-3 text-muted"><strong>LOGIN TO ADD COMMENT</strong></div>
    <% } %> 
    <% for(let review of biography.reviews) { %>
    <div id="<%= review._id %>" class="card m-3 rounded-5">
        <div class="card-body p-0">
            <div class="review-box">
                <p class="review-text lh-sm small fs-6 m-2"><%= review.text %></p>
                <p class="card-title text-capitalize d-flex m-1">
                    <em class="text-muted small ms-auto fw-lighter"> - <%= review.author.firstName.toLowerCase() %> <%= review.author.lastName.toLowerCase() %></em>
                </p>
            </div>
            <div class="d-flex align-items-end small border-top m-1" style="opacity: 0.5;">
                <a id="l<%= review._id %>" class="lreview mx-1" href="javascript:;">👍🏻</a>
                <small class="me-auto"> <%= (review.likes.length > 0 ? review.likes.length : '') %> </small>
                <% if (review.author.equals(currentUser)) { %> 
                <a class="mx-3" href="/reviews/<%= review._id %>/edit">📝</a>
                <a id="d<%= review._id %>" class="dreview" href="javascript:;">✖</a>
                <% } %> 
            </div>
        </div>
    </div>
    <% } %>
</div>

<script>
    const pageTitle = "Biographies";
</script>

